html, body {
  --accent-color: #80c2ff;
  --background: #000;
  --input-background: #181818;
  --background-plus: #212121;
  --text-color: #e7e7e7;
  --logo: url(/images/logo_dark.png);

  --backdrop-color: rgba(0,0,0,0.6);
  --footer-background: #101010;

  --translucent-plus: rgba(255,255,255,0.1);
  --translucent: rgba(255,255,255,0.05);
}

.preview {
  width: 100%;
  height: calc(100vw / 1.75);
  position: relative;
  margin: 0;
  user-select: none;
}

.preview > img,
.preview > video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.preview.with-context {
  overflow: hidden;
  background: #000;
}

.preview.with-context:nth-child(2n) {
  background: #101010;
}

.preview.with-context > img,
.preview.with-context > video {
  object-fit: cover;
}

.preview.with-context.left > img,
.preview.with-context.left > video {
  transform: translateX(-50%) !important;
  mask-image: linear-gradient(to right, white 50%, transparent);
  -webkit-mask-image: linear-gradient(to right, white 50%, transparent);
}

.preview.with-context.right > img,
.preview.with-context.right > video {
  transform: translateX(50%) !important;
  mask-image: linear-gradient(to left, white, transparent);
  -webkit-mask-image: linear-gradient(to left, white, transparent);
}

.preview.with-context > .context {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 5vw;
  font-weight: bold;
  line-height: 5.5vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  color: #00a0e8;
  margin: 0;
  text-align: end;
  background: linear-gradient(to bottom right, #40a060, #00ddff, #0061e0, #a04080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.preview.with-context.left > .context {
  left: 50%;
  text-align: left;
  align-items: flex-end;
}

.preview.with-context.right > .context {
  left: 0;
  text-align: right;
  align-items: flex-start;
}

.preview.with-context[data-scroll-animate] > .context {
  transition: opacity 0.3s ease;
  opacity: 0;
}

.preview.with-context[data-scroll-animate].visible > .context {
  transition: opacity 0.3s ease 0.5s;
  opacity: 1;
}

.preview.with-context p {
  margin: 0;
}

@media screen and (orientation: landscape) {
  .preview {
    width: 100%;
    height: calc(100vh - 5rem);
  }
}

@media screen and (orientation: landscape) and (min-width: 1280px) {
  .preview {
    width: 75vw;
    height: calc(75vh - 5rem);
    margin: calc(12.5vh - (5rem / 2)) 12.5vw;
  }

  .preview.with-context {
    border-radius: 2.5vw;
    background: #101010;
  }

  .preview.with-context:nth-child(2n) {
    background: #101010;
  }

  .preview.with-context > .context {
    font-size: 4vw;
    line-height: 4.5vw;
  }
}