.ws--article {
  width: calc(100% - 2rem);
  max-width: 768px;
  margin: 0 auto;
  font-size: 1.6rem;
}

.ws--article .notice {
  width: 100%;
  padding: 1rem 1rem;
  box-sizing: border-box;
  min-height: 4rem;
  line-height: 2.2rem;
  margin: 1rem 0;
  background: #ffd880;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.ws--article h1 {
  font-size: 2.4rem;
  font-weight: normal;
  color: var(--accent-color);
}

.ws--article h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

.ws--article header {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1rem 0 0;
  padding: 1rem 0 0;
  border-top: solid 0.1rem #d8dadd;
}

.ws--article p {
  margin: 1rem 0;
}

.ws--article > img,
.ws--article > video,
.ws--article > audio {
  width: 100%;
  background: var(--background-plus);
}

.ws--article .learn-more {
  margin: 0;
  padding: 0;
}