.article {
  width: calc(100% - 2rem);
  max-width: 768px;
  margin: 0 auto;
  font-size: 1.6rem;
  color: var(--text-color);
}

.article .notice {
  width: 100%;
  padding: 1rem 1rem;
  box-sizing: border-box;
  min-height: 4rem;
  line-height: 2.2rem;
  margin: 1rem 0;
  background: rgba(255, 192, 0, 0.25);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.article h1 {
  font-size: 2.4rem;
  font-weight: normal;
  color: var(--accent-color);
}

.article h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

.article header {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1rem 0 0;
  padding: 1rem 0 0;
  border-top: solid 0.1rem rgba(0,0,0,0.125);
}

.article p {
  margin: 1rem 0;
}

.article > img,
.article > video,
.article > audio {
  width: 100%;
  max-height: 600px;
  object-fit: contain;
  background: var(--background-plus);
}

.article .learn-more {
  margin: 0;
  padding: 0;
}

.article span[data-icon]:before {
  font-size: 1.6rem;
}