.footer {
  margin: 0;
  padding: 1.5rem 0;
  width: 100%;
  background: var(--background-theta);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer > .container {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
}

.footer p {
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text-color);
  margin: 3rem 0 1rem;
  width: 100%;
  max-width: 800px;
  line-height: 2.2rem;
}

.footer .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  width: 100%;
  margin: 0 0 1rem;
}

.footer .row:last-child {
  margin: 0;
}

.footer .row.center {
  justify-content: center;
}

.footer .row.horizontal {
  border-top: solid 0.1rem rgba(0,0,0,0.125);
  display: block;
}

.footer .row img {
  height: 5rem;
}

.footer .footer-col {
  width: 20%;
  min-width: 290px;
}

.footer .footer-col h4 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--accent-color);
  text-transform: uppercase;
  margin: 1.5rem 0 1rem;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul li {
  list-style: none;
  margin-bottom: 0.5rem;
  text-align: start;
  pointer-events: none;
}

.footer ul li:last-child {
  margin-bottom: 0;
}

.footer ul li::after {
  content: '';
  font-size: 1.6rem;
  font-family: 'gaia-icons';
  -moz-margin-start: 0.5rem;
  margin-inline-start: 0.5rem;
  color: var(--text-color);
  transition: margin 0.2s ease;
}
html[dir="ltr"] .footer ul li:not(.external)::after {
  content: 'forward';
}
html[dir="rtl"] .footer ul li:not(.external)::after {
  content: 'back';
}

html[dir="rtl"] .footer ul li.external::after {
  content: 'link';
}

.footer ul li:not(.external):hover::after {
  -moz-margin-start: 1rem;
  margin-inline-start: 1rem;
}

.footer ul li > a {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.2rem;
  color: var(--text-color);
  text-decoration: none;
  display: inline-block;
  pointer-events: all;
  position: relative;
  transition: all 0.2s ease;
}

.footer ul li > a:hover {
  box-shadow: 0 0.2rem 0 currentColor;
}

.footer .social-media {
  display: flex;
  width: 100%;
}

.footer .social-media > a {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  color: var(--text-color);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0;
}

.footer .social-media > a:hover {
  background: var(--translucent);
}

.footer .social-media > a:active {
  background: var(--translucent-plus);
}

.footer .social-media > a:last-child {
  -moz-margin-end: 0;
  margin-inline-end: 0;
}

.footer .social-media > a:before {
  font-size: 2rem;
}

.footer .footer-row {
  width: 100%;
}

.footer .bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer .bottom-wrapper > .links {
  flex: 1;
  width: 100%;
  min-width: 290px;
}

.footer .bottom-wrapper > .options {
  width: 290px;
  position: relative;
}

.footer .bottom-wrapper > .options:before {
  content: 'web';
  font-family: 'gaia-icons';
  position: absolute;
  top: 4.7rem;
  width: 290px;
  height: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  display: block;
  padding: 0 2rem;
  box-sizing: border-box;
  text-align: end;
  pointer-events: none;
  color: var(--text-color);
}

.footer .bottom-wrapper > .options > p {
  margin: 2rem 0 0.5rem;
}

.footer .bottom-wrapper > .options > label {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  padding: 0;
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text-color);
  display: flex;
  margin: 0 0 1rem;
}

.footer .bottom-wrapper > .options > label input[type="checkbox"] {
  width: 5rem;
  height: 2.4rem;
  background: var(--text-color);
  border-radius: 1.5rem;
  appearance: none;
  -moz-appearance: none;
  position: relative;
  margin: 0.75rem 0;
  -moz-margin-end: 1rem;
  margin-inline-end: 1rem;
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.1, 1);
}

.footer .bottom-wrapper > .options > label input[type="checkbox"]:checked {
  background: var(--accent-color);
}

.footer .bottom-wrapper > .options > label input[type="checkbox"]:before {
  content: '';
  position: absolute;
  left: 0.4rem;
  top: 0.4rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 1rem;
  background: var(--background-plus);
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.1, 1);
}

.footer .bottom-wrapper > .options > label input[type="checkbox"]:hover:before {
  transform: scale(0.9);
}

.footer .bottom-wrapper > .options > label input[type="checkbox"]:checked:before {
  left: 3rem;
  background: var(--accent-text-color);
}

@media screen and (min-width: 800px) {
  .footer .row {
    margin: 0 0 3rem;
  }

  .footer .footer-col h4 {
    margin: 3rem 0 1rem;
  }

  .footer .footer-row ul {
    display: flex;
    margin: 1rem 0;
  }

  .footer .footer-row ul li {
    margin: 0;
    -moz-margin-end: 2rem;
    margin-inline-end: 2rem;
  }

  .footer .footer-row ul li:last-child {
    -moz-margin-end: 0;
    margin-inline-end: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer > .container {
    padding: 48px 64px;
  }
}