header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

header.scrolling {
  transform: translateY(-100%);
  transition: transform 0.3s cubic-bezier(0.2, 0.9, 0.1, 1);
}

header.scrolling.visible {
  transform: translateY(0);
}

.header-container {
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
  box-sizing: border-box;
  display: flex;
}

header.scrolling .header-container {
  background: var(--backdrop-color);
}

header.light {
  --accent-color: #0061e0;
  --accent-text-color: rgba(255,255,255,0.75);
  --background: #e7e9ec;
  --background-plus: #fff;
  --text-color: #333;

  --translucent: rgba(0,0,0,0.05);
  --translucent-plus: rgba(0,0,0,0.1);
}

header.dark {
  --accent-color: #80c2ff;
  --accent-text-color: rgba(0,0,0,0.75);
  --background: #101214;
  --background-plus: #212324;
  --text-color: #e7e7e7;

  --translucent: rgba(255,255,255,0.05);
  --translucent-plus: rgba(255,255,255,0.1);
}

.header-container .logo {
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--accent-color);
  text-decoration: none;
  height: 5rem;
  line-height: calc(5rem / 3);
  margin: 0;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  width: min-content;
  position: relative;

  /* Orchid branding */
  width: 12rem;
  background: var(--logo) no-repeat center / 100% auto;
}

.header-container .logo:hover {
  text-decoration: underline;
}

.header-container .logo:active {
  opacity: 0.5;
}

.header-container .tab-skip {
  background: #c00040;
  color: rgba(255,255,255,0.75);
  font-size: 1.6rem;
  font-weight: normal;
  border-radius: 1rem;
  height: 4rem;
  line-height: 4rem;
  padding: 0 1rem;
  box-sizing: border-box;
  margin: 0.5rem -7.5rem;
  text-decoration: none;
  width: 15rem;
  position: relative;
  text-align: center;
  pointer-events: none;

  transition: all 0.4s cubic-bezier(0.2, 0.9, 0.1, 1);
  opacity: 0;
}

.header .tab-skip:focus {
  margin: 0.5rem 0;
  opacity: 1;
  pointer-events: all;
}

.header-container nav {
  height: 100%;
}

.header-container nav.inline-start {
  margin-inline-start: 1rem;
  margin-inline-end: auto;
}

.header-container nav.inline-end {
  margin-inline-start: auto;
  margin-inline-end: 1rem;
}

.header-container nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-container nav ul li {
  list-style: none;
  height: 5rem;
}

.header-container nav ul li > a {
  font-size: 1.6rem;
  font-weight: normal;
  min-width: 4rem;
  height: 4rem;
  line-height: 4rem;
  padding: 0 1rem;
  box-sizing: border-box;
  color: var(--text-color);
  text-decoration: none;
  margin: 0.5rem 0;
  display: block;
  border-radius: 2rem;
  position: relative;
}

.header-container nav ul li > a:hover {
  background: var(--translucent);
}

.header-container nav ul li > a:active {
  background: var(--translucent-plus);
}

.header-container nav ul li > a[data-icon]:before {
  font-size: 2rem;
}

.header-container nav ul li > a > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--background-plus);
  border-radius: 50%;
}

.header-container form {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background: var(--background-plus);
  display: flex;
  overflow: hidden;
  margin: 0.5rem 0;
  max-width: 32rem;
  position: relative;
  z-index: 1;
}
html[dir="ltr"] .header-container form {
  background: var(--background-plus) url(images/search.svg) no-repeat left 1rem center / 2rem;
}
html[dir="rtl"] .header-container form {
  background: var(--background-plus) url(images/search.svg) no-repeat right 1rem center / 2rem;
}

.header-container form:focus-within {
  width: 100%;
  flex: 1;
}

.header-container form input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: normal;
  width: 100%;
  height: 4rem;
  flex: 1;
  padding: 0;
  padding-inline-start: 4rem;
  box-sizing: border-box;
  color: var(--text-color);
}

.header-container form button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: normal;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  padding: 0;
  border-radius: 50%;
  display: none;
  color: var(--text-color);
}

.header-container form:focus-within button {
  display: inline-block;
}

.header-container form button:hover {
  background: var(--translucent);
}

.header-container form button:active {
  background: var(--translucent-plus);
}

.header-container form button:before {
  font-size: 2rem;
}

@supports (backdrop-filter: saturate(180%) blur(20px)) {
  header.scrolling .header-container {
    backdrop-filter: saturate(180%) blur(20px);
  }

  header.light form {
    background-color: rgba(0,0,0,0.125) !important;
    background-image: url(images/search_light.svg) !important;
  }

  header.dark form {
    background-color: rgba(255,255,255,0.125) !important;
    background-image: url(images/search_dark.svg) !important;
  }
}

@media screen and (max-width: 1023px) {
  html[dir="ltr"] .header-container {
    padding-right: 5rem;
  }
  html[dir="rtl"] .header-container {
    padding-left: 5rem;
  }

  .header-container nav ul li > a:not([data-icon]) {
    display: none;
  }

  .header-container form {
    position: absolute;
    top: 0;
    transition: all 0.3s cubic-bezier(0.2, 0.9, 0.1, 1);
  }
  html[dir="ltr"] .header-container form {
    right: 1rem;
  }
  html[dir="rtl"] .header-container form {
    left: 1rem;
  }

  .header-container form:focus-within {
    width: calc(100% - 2rem);
  }
}

@media screen and (min-width: 1024px) {
  .header-container {
    padding: 1rem 5vw;
    height: 7rem;
  }

  .header-container form {
    width: 100%;
    flex: 1;
  }

  .header-container form button {
    display: inline-block;
    margin: 0 -2rem;
    opacity: 0;
    transition: margin 0.3s cubic-bezier(0.2, 0.9, 0.1, 1), opacity 0.3s cubic-bezier(0.2, 0.9, 0.1, 1);
  }

  .header-container form:focus-within button {
    margin: 0;
    opacity: 1;
  }
}
