header ul li {
  position: relative;
}

header a + .dropdown {
  position: absolute;
  top: calc(100% - 0.5rem);
  background: var(--input-background);
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
  overflow: hidden;
  display: flex;

  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.1, 1);
  transform: translateY(-1rem);
  opacity: 0;
  visibility: hidden;
}
html[dir="ltr"] header a + .dropdown {
  left: 0;
}
html[dir="rtl"] header a + .dropdown {
  right: 0;
}

header ul li:hover > a + .dropdown {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.dropdown .dropdown-col {
  min-width: 256px;
}

.dropdown .dropdown-col:nth-child(2n) {
  min-width: 320px;
  background: var(--background-plus);
}

.dropdown .dropdown-col h4 {
  font-size: 1.6rem;
  margin: 1rem 0 0;
  padding: 0 1.5rem;
  box-sizing: border-box;
  height: 3rem;
  line-height: 3rem;
  color: var(--accent-color);
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.dropdown .dropdown-col ul {
  flex-direction: column;
  width: 100%;
  height: unset;
  padding: 0 0.8rem 0.8rem;
  box-sizing: border-box;
}

.dropdown .dropdown-col ul li {
  width: 100%;
  height: 4rem;
}

.dropdown .dropdown-col ul li > a {
  width: 100%;
  margin: 0;
  padding: 0 1.5rem;
  box-sizing: border-box;
  border-radius: 0.8rem;
}
