@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url(/fonts/IBMPlexSansArabic-Regular.ttf);
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  font-weight: bold;
  src: url(/fonts/IBMPlexSansArabic-Bold.ttf);
}

:root {
  --logo: url(images/logo.svg);
  --font-families: 'IBM Plex Sans Arabic', 'Noto Sans', 'Noto Naskh Arabic', system-ui;

  --accent-color: #0061e0;
  --accent-color-text: rgba(255,255,255,0.75);
  --background: #e7e9ec;
  --background-plus: #fff;
  --header-background: rgba(231, 233, 236, 0.5);
  --text-color: #333;

  --href-hover: rgba(0,0,0,0.05);
  --href-active: rgba(0,0,0,0.1);

  --banner-background: linear-gradient(to right, #ffc0ff, #c0a0ff);
  --banner-text-color: #301040;

  --footer-background: #212121;
  --footer-header-color: #80b1e8;
  --footer-text-color: #e7e7e7;
}

::selection,
::-moz-selection {
  background: var(--accent-color);
  color: var(--accent-color-text);
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background: var(--background);
  font-family: var(--font-families);
  accent-color: var(--accent-color);
  scroll-behavior: smooth;
}

button,
.ws--button {
  border: solid 0.1rem var(--accent-color);
  color: var(--accent-color);
  background: transparent;
  border-radius: 2rem;
  font-size: 1.6rem;
  padding: 0 3rem;
  box-sizing: border-box;
  height: 4rem;
  line-height: 4rem;
  font-weight: bold;
  display: block;
  text-decoration: none;
}

button:hover,
.ws--button:hover {
  background: var(--accent-color);
  color: var(--accent-color-text);
}

button:active
.ws--button:active {
  background: var(--accent-color) linear-gradient(0deg, rgba(255,255,255,0.125), rgba(255,255,255,0.125));
}

button.recommend,
.ws--button.recommend {
  background: var(--accent-color);
  color: var(--accent-color-text);
  border: none;
}

button.recommend:hover,
.ws--button.recommend:hover {
  background: var(--accent-color) linear-gradient(0deg, rgba(255,255,255,0.125), rgba(255,255,255,0.125));
}

button.recommend:active,
.ws--button.recommend:active {
  background: var(--accent-color) linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25));
}

button, select, input {
  font-family: var(--font-families);
}

.pointerless {
  pointer-events: none;
}
