@font-face {
  font-family: 'Jali Arabic';
  src: url(/fonts/Jali_Arabic_Regular.ttf);
}

@font-face {
  font-family: 'Jali Arabic';
  font-weight: bold;
  src: url(/fonts/Jali_Arabic_Bold.ttf);
}

@font-face {
  font-family: 'Jali Arabic';
  font-weight: 1000;
  src: url(/fonts/Jali_Arabic_Black.ttf);
}

@font-face {
  font-family: 'Lobster';
  src: url(/fonts/Lobster-Regular.ttf);
}

:root {
  --logo: url(images/brand-light.svg);

  /** Accent Color
   ---------------------------------------------------------*/

  --accent-color: #0061e0;
  --accent-text-color: rgba(255,255,255,0.75);
  --focus-outline: 0.2rem solid var(--accent-color);

  /** Statusbar Filter
   ---------------------------------------------------------*/

  --statusbar-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='invert'><feColorMatrix in='SourceGraphic' color-interpolation-filters='sRGB' type='matrix' values='1 -1 0.3019 0 0 0 0.3019 0 0 0 0 0 0.3019 0 0 0 0 0 1 0'/></filter></svg>#invert");

  /** Grey Colors
   ---------------------------------------------------------*/

  --color-alpha: #333333;
  --color-beta: #ffffff;
  --color-gamma: #4d4d4d;
  --color-delta: #5f5f5f;
  --color-epsilon: #858789;
  --color-zeta: #a6a8ab;
  --color-eta: #c7c9cc;
  --color-theta: #e7e9ec;
  --color-iota: #f4f6f8;

  /** Brand Colors
   ---------------------------------------------------------*/

  --color-darkblue: #0061e0;
  --color-blue: #00a0e8;
  --color-turquoise: #00ddff;
  --color-darkorange: #a04030;
  --color-orange: #ff6040;
  --color-yellow: #ffc000;
  --color-violet: #d15ca8;

  --color-warning: var(--color-yellow);
  --color-destructive: #c00040;
  --color-preffered: #40a060;

  /** Background
   ---------------------------------------------------------*/

  --background: #e7e9ec;
  --background-plus: #fff;
  --background-minus: #a6a8ab;

  --list-background: #f4f4f4;
  --list-background-shadow: inset 0 0 0.5rem #fff, 0 0.5rem 1rem rgba(0,0,0,0.1);

  /** Borders
   ---------------------------------------------------------*/

  --border-color: var(--color-theta);

  /** Text Color
   ---------------------------------------------------------*/

  --text-color: #333;
  --text-color-minus: #fff;
  --label-color: #333;

  /** Button
   ---------------------------------------------------------*/

  --button-background: linear-gradient(to bottom, #fff, #f4f4f4);
  --button-background-plus: linear-gradient(to bottom, #d8dadd, #ccced2);
  --button-background-minus: linear-gradient(to bottom, #bcbec2, #c8cacd);
  --button-background-list: linear-gradient(to bottom, #e7e9ec, #dbddf0);

  /** Links
   ---------------------------------------------------------*/

  --link-color: var(--accent-color);

  /** Inputs
   ---------------------------------------------------------*/

  --input-background: #f4f4f4;
  --input-color: #333;
  --input-clear-background: #909ca7;

  /** Buttons
   ---------------------------------------------------------*/

  --button-box-shadow: none;
  --button-box-shadow-active: var(--button-box-shadow);

  /** Header
   ---------------------------------------------------------*/

  --header-background: var(--background);
  --header-color: var(--text-color);
  --header-icon-color: var(--text-color);
  --header-button-color: var(--text-color);
  --header-disabled-button-color: #858789;
  --header-action-button-color: var(--text-color);

  /** Transitions
   ---------------------------------------------------------*/

  --transition-duration: 0.3s;

  /** Palettes
   ---------------------------------------------------------*/

  --background-alpha: #b0b2b5;
  --background-beta: #ffffff;
  --background-gamma: #b9bbbe;
  --background-delta: #c0c2c5;
  --background-epsilon: #c7c9cc;
  --background-zeta: #d0d2d5;
  --background-eta: #d8dadd;
  --background-theta: #e0e2e5;
  --background-iota: #e7e9ec;

  --translucent: rgba(0,0,0,0.05);
  --translucent-plus: rgba(0,0,0,0.1);
  --translucent-minus: rgba(0,0,0,0.2);

  /* The same as the effect people watch on YouTube */
  --neumorphic-background: linear-gradient(to bottom, #c4c6c9, #fff);
  --neumorphic-shadow:
    1rem 1rem 1.5rem #c4c6c9,
    -1rem -1rem 1.5rem #fff;
  --neumorphic-shadow-inner:
    inset 1rem 1rem 1.5rem #c4c6c9,
    inset -1rem -1rem 1.5rem #fff;

  /* Buttons like the ones in the FM Radio app */
  --neumorphic-button-background: linear-gradient(to bottom, #d0d2d5, #fff);
  --neumorphic-button-shadow:
    inset 0.3rem 0.3rem 0.1rem #fff,
    inset -0.3rem 0.3rem 0.1rem #e0e2e5,
    inset 0.3rem -0.3rem 0.1rem #e0e2e5,
    inset -0.3rem -0.3rem 0.1rem #d0d2d5;

  --backdrop-color: rgba(231, 233, 236, 0.5);
}

[data-theme="dark"] {
  --logo: url(images/brand.svg);

  /** Accent Color
   ---------------------------------------------------------*/

  --accent-color: #80c2ff;
  --accent-text-color: rgba(0,0,0,0.75);
  --focus-outline: 0.2rem solid var(--accent-color);

  /** Statusbar Filter
   ---------------------------------------------------------*/

  --statusbar-filter: none;

  /** Grey Colors
   ---------------------------------------------------------*/

  --color-alpha: #333333;
  --color-beta: #ffffff;
  --color-gamma: #4d4d4d;
  --color-delta: #5f5f5f;
  --color-epsilon: #858789;
  --color-zeta: #a6a8ab;
  --color-eta: #c7c9cc;
  --color-theta: #e7e9ec;
  --color-iota: #f4f6f8;

  /** Brand Colors
   ---------------------------------------------------------*/

  --color-darkblue: #0061e0;
  --color-blue: #00a0e8;
  --color-turquoise: #00ddff;
  --color-darkorange: #a04030;
  --color-orange: #ff6040;
  --color-yellow: #ffc000;
  --color-violet: #d15ca8;

  --color-warning: var(--color-yellow);
  --color-destructive: #c00040;
  --color-preffered: #40a060;

  /** Background
   ---------------------------------------------------------*/

  --background: #101214;
  --background-plus: #212325;
  --background-minus: #66686a;

  --list-background: #212325;
  --list-background-shadow: inset 0 0 0.5rem #252729, 0 0.5rem 1rem rgba(0,0,0,0.1);

  /** Borders
   ---------------------------------------------------------*/

  --border-color: var(--color-theta);

  /** Text Color
   ---------------------------------------------------------*/

   --text-color: #fff;
   --text-color-minus: #333;
   --label-color: #fff;

  /** Button
   ---------------------------------------------------------*/

  --button-background: linear-gradient(to bottom, #303234, #2c2e30);
  --button-background-plus: linear-gradient(to bottom, #383a3c, #343638);
  --button-background-minus: linear-gradient(to bottom, #3c3e40, #404244);
  --button-background-list: linear-gradient(to bottom, #181a1c, #101214);

  /** Links
   ---------------------------------------------------------*/

  --link-color: var(--accent-color);

  /** Inputs
   ---------------------------------------------------------*/

  --input-background: #1c1e20;
  --input-color: #fff;
  --input-clear-background: #7c7b82;

  /** Buttons
   ---------------------------------------------------------*/

  --button-box-shadow: none;
  --button-box-shadow-active: var(--button-box-shadow);

  /** Header
   ---------------------------------------------------------*/

  --header-background: var(--background);
  --header-color: var(--text-color);
  --header-icon-color: var(--text-color);
  --header-button-color: var(--text-color);
  --header-disabled-button-color: #858789;
  --header-action-button-color: var(--text-color);

  /** Transitions
   ---------------------------------------------------------*/

  --transition-duration: 0.3s;

  /** Palettes
   ---------------------------------------------------------*/

  --background-alpha: #000204;
  --background-beta: #303234;
  --background-gamma: #040608;
  --background-delta: #080a0c;
  --background-epsilon: #0c0e10;
  --background-zeta: #101214;
  --background-eta: #181a1c;
  --background-theta: #202224;
  --background-iota: #282a2c;

  --translucent: rgba(255,255,255,0.05);
  --translucent-plus: rgba(255,255,255,0.15);
  --translucent-minus: rgba(255,255,255,0.25);

  /* The same as the effect people watch on YouTube */
  --neumorphic-background: linear-gradient(to bottom, #1c1e1f, #26282b);
  --neumorphic-shadow:
    1rem 1rem 1.5rem #1c1e1f,
    -1rem -1rem 1.5rem #26282b;
  --neumorphic-shadow-inner:
    inset 1rem 1rem 1.5rem #1c1e1f,
    inset -1rem -1rem 1.5rem #26282b;

  /* Buttons like the ones in the FM Radio app */
  --neumorphic-button-background: linear-gradient(to bottom, #212325, #303234);
  --neumorphic-button-shadow:
    inset 0.3rem 0.3rem 0.1rem #303234,
    inset -0.3rem 0.3rem 0.1rem #282a2c,
    inset 0.3rem -0.3rem 0.1rem #282a2c,
    inset -0.3rem -0.3rem 0.1rem #212325;

  --backdrop-color: rgba(16, 18, 20, 0.5);
}

:focus {
  outline: dashed 0.1rem currentColor;
}

a:focus, button:focus {
  font-weight: bold !important;
}

::selection,
::-moz-selection {
  background: var(--accent-color);
  color: var(--accent-text-color);
}

*,
::placeholder {
  --font-families: 'Jali Arabic', system-ui, sans-serif;
}

html {
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background: var(--background);
  font-family: var(--font-families);
  accent-color: var(--accent-color);
  scroll-behavior: smooth;
  color-scheme: light dark;
}

button,
.button {
  border: solid 0.1rem var(--accent-color);
  color: var(--accent-color);
  background: transparent;
  border-radius: 2rem;
  font-size: 1.6rem;
  padding: 0 3rem;
  box-sizing: border-box;
  height: 4rem;
  line-height: 4rem;
  font-weight: bold;
  display: block;
  text-decoration: none;
}

button:hover,
.button:hover {
  background: var(--accent-color);
  color: var(--accent-text-color);
}

button:active
.button:active {
  background: var(--accent-color) linear-gradient(0deg, rgba(255,255,255,0.125), rgba(255,255,255,0.125));
}

button.recommend,
.button.recommend {
  background: var(--accent-color);
  color: var(--accent-text-color);
  border: none;
}

button.recommend:hover,
.button.recommend:hover {
  background: var(--accent-color) linear-gradient(0deg, rgba(255,255,255,0.125), rgba(255,255,255,0.125));
}

button.recommend:active,
.button.recommend:active {
  background: var(--accent-color) linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25));
}

button, select, input {
  font-family: var(--font-families);
}

select {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  border-radius: 0.4rem;
  border: none;
  background: var(--input-background);
  border: solid 0.2rem var(--input-clear-background);
  color: var(--text-color);
  padding: 0 1rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0 0 1rem;
}

select:hover {
  border: solid 0.2rem #a6a6a6;
}

select:focus {
  border: solid 0.2rem var(--accent-color);
  outline: none;
}

.pointerless {
  pointer-events: none;
}

label {
  margin: 0 0 1.5rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text-color);
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

label + p {
  opacity: 0.5;
  margin: -2rem 0 1.5rem !important;
  line-height: 2.2rem;
}

label.vertical {
  flex-direction: column;
}

label > span {
  font-size: 1.6rem;
  font-weight: normal;
  width: 100%;
  flex: 1;
}

label > span em {
  font-style: normal;
  color: #c00040;
}

label button {
  margin: 0 0 1rem;
}

label input:not([type="checkbox"]) {
  margin: 0 0 1rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text-color);
}

label input[type="text"] {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  margin: 0 0 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
  border: none;
  border-radius: 0.4rem;
  background: var(--background-plus);
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text-color);
}

label textarea {
  width: 100%;
  height: 15rem;
  max-height: 30rem;
  line-height: 2.2rem;
  margin: 0 0 1rem;
  padding: 0.9rem 1rem;
  box-sizing: border-box;
  border: none;
  border-radius: 0.4rem;
  background: var(--background-plus);
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text-color);
  resize: vertical;
  font-family: var(--font-families);
}

pre {
  font-size: 1.4rem;
  width: 100%;
  overflow: auto;
}

.capyloon {
  font-family: "Lobster", cursive;
  background: linear-gradient(to bottom right, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
