.ws--note {
  background: #ffc000;
  color: rgba(0,0,0,0.75);
  font-size: 1.6rem;
  min-height: 3rem;
  line-height: 2.2rem;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 10;
  padding: 0.4rem 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.ws--note > span {
  position: relative;
  display: block;
  opacity: 0;
  animation: note-appear 0.3s ease forwards 0.5s;
}

@keyframes note-appear {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}