.ws--poster {
  width: 100%;
  height: calc(100vw / 1.75);
  background: #000;
  position: relative;
  overflow: hidden;
}

.ws--poster > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #fff;
  transform: none !important;
}

.ws--poster > div {
  position: absolute;
  bottom: 0;
  margin: 1rem;
  font-size: 1.6rem;
  color: #333;
}
html[dir="ltr"] .ws--poster > div {
  left: 0;
}
html[dir="rtl"] .ws--poster > div {
  right: 0;
}

.ws--poster > div img {
  height: 5rem;
}

.ws--poster > div h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
  max-width: 400px;
}

.ws--poster > div p {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0;
  max-width: 400px;
}

.ws--poster > div a {
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--background-plus);
  display: inline-block;
  text-align: start;
  text-decoration: none;
  background: var(--text-color);
  height: 3.4rem;
  line-height: 3.4rem;
  border-radius: 2rem;
  font-size: 1.6rem;
  padding: 0 1.5rem;
  box-sizing: border-box;
  margin: 1rem 0 0;
}

.ws--poster > div a:after {
  content: '';
  font-size: 1.6rem;
  font-family: 'gaia-icons';
  -moz-margin-start: 0.5rem;
  margin-inline-start: 0.5rem;
  transition: margin 0.3s cubic-bezier(0, 0, 0, 2);
}
html[dir="ltr"] .ws--poster > div a:after {
  content: 'forward';
}
html[dir="rtl"] .ws--poster > div a:after {
  content: 'back';
}

.ws--poster > div a:hover:after {
  -moz-margin-start: 1rem;
  margin-inline-start: 1rem;
  font-weight: bold;
}

@media screen and (orientation: landscape) {
  .ws--poster {
    width: 100%;
    height: calc(100vh - 5rem);
  }

  .ws--poster > div {
    margin: 32px 48px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1280px) {
  .ws--poster {
    width: 90vw;
    height: calc(90vh - 5rem);
    margin: calc(5vh - (5rem / 2)) 5vw;
    border-radius: 1.5rem;
  }

  .ws--poster > div {
    margin: 64px;
  }

  .ws--poster > div a {
    margin: 1rem 0 0;
    height: 4rem;
    line-height: 4rem;
  }

  .ws--poster > div h1 {
    font-size: 5rem;
    font-weight: normal;
  }

  .ws--poster > div p {
    font-size: 2.4rem;
  }
}