.poster {
  width: 100%;
  background: #000;
  position: relative;
  overflow: hidden;
  --text-color: #fff;
  aspect-ratio: 4 / 3;
}

.poster.light {
  --text-color: #000;
}

.poster > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #858585;
  object-fit: cover;
}

.poster > div {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 2.5vw 5vw;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
html[dir="ltr"] .poster > div:not(.keyart-container) {
  left: 0;
}
html[dir="rtl"] .poster > div:not(.keyart-container) {
  right: 0;
}

.poster > .keyart-container {
  display: none;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  position: absolute;
}
html[dir="ltr"] .poster > .keyart-container {
  right: 0;
}
html[dir="rtl"] .poster > .keyart-container {
  left: 0;
}

.poster > div img {
  height: 4rem;
}

.poster > .keyart-container img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  border-radius: 1rem;
  filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.4));
}

.poster > div h1 {
  font-size: 2.4rem;
  font-weight: 1000;
  margin: 0;
  max-width: 400px;
}

.poster > div p {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0;
  max-width: 400px;
}

.poster > div a {
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--accent-text-color);
  display: inline-block;
  text-align: start;
  text-decoration: none;
  background: var(--accent-color);
  height: 3.4rem;
  line-height: 3.4rem;
  font-size: 1.6rem;
  padding: 0 1.5rem;
  box-sizing: border-box;
  margin: 1rem 0 0;
  border-radius: 1.7rem;
}

.poster.visible-links > div a {
  color: #0061e0;
  background: var(--text-color);
}

.poster > div a:hover {
  text-decoration: underline;
}

.poster > div a:after {
  content: '';
  font-size: 1.6rem;
  font-family: 'gaia-icons';
  -moz-margin-start: 0.5rem;
  margin-inline-start: 0.5rem;
  position: relative;
  display: inline-block;
  transition: transform 0.2s ease;
}
html[dir="ltr"] .poster > div a:after {
  content: 'forward';
}
html[dir="rtl"] .poster > div a:after {
  content: 'back';
}

html[dir="ltr"] .poster > div a:hover:after {
  transform: translateX(0.5rem);
}
html[dir="rtl"] .poster > div a:hover:after {
  transform: translateX(-0.5rem);
}

@media screen and (orientation: landscape) {
  .poster {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  .poster > div {
    width: 50%;
    margin: 32px 48px;
  }

  .poster > .keyart-container {
    display: flex;
  }
}

@media screen and (orientation: landscape) and (min-width: 1280px) {
  .poster {
    margin: 0 64px 48px;
    width: calc(100% - 128px);
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    aspect-ratio: 2.1 / 1;
  }

  .poster > div,
  .poster > .keyart-container {
    height: calc(100% - 64px);
  }

  .poster > div a {
    margin: 1rem 0 0;
    height: 4rem;
    line-height: 4rem;
    border-radius: 2rem;
  }

  .poster > div h1 {
    font-size: 5rem;
    font-weight: normal;
  }
}