/* ----------------------------------
 * Confirm
 * ---------------------------------- */

/* Main dialog setup */
form[role="dialog"][data-type="confirm"] {
  background: var(--background-plus, #fff);
  overflow: hidden;
  position: absolute;
  z-index: 100;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  padding-bottom: 7rem;
  font-size: 0;
  /* Using font-size: 0; we avoid the unwanted visual space (about 3px)
  created by white-spaces and break lines in the code betewen inline-block elements */
  color: var(--text-color, #333);
  border-radius: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.25), 0 0 0 calc(100vw + 100vh) var(--backdrop-color, rgba(0,0,0,0.5));
  max-height: calc(100% - 12.3rem);
}
html[dir="ltr"] form[role="dialog"][data-type="confirm"] { text-align: left; }
html[dir="rtl"] form[role="dialog"][data-type="confirm"] { text-align: right; }

form[role="dialog"][data-type="confirm"]:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0.1rem;
  height: 100%;
  margin-inline-start: -0.1rem;
}

form[role="dialog"][data-type="confirm"] > section {
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--text-color, #333);
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  overflow-y: auto;
  max-height: 100%;
  vertical-align: middle;
  white-space: normal;
}

form[role="dialog"][data-type="confirm"] h1 {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: var(--text-color, #333);
  margin: 0;
  padding: 1rem 1.5rem 0;
  word-wrap: break-word;
  font-weight: bold;
}

/* Menu & buttons setup */
form[role="dialog"][data-type="confirm"] menu {
  white-space: nowrap;
  margin: 0;
  padding: 1.5rem;
  display: flex;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

form[role="dialog"][data-type="confirm"] menu button::-moz-focus-inner {
  border: none;
  outline: none;
  margin-top: -0.2rem; /* To fix line-height bug (697451) */
}

form[role="dialog"][data-type="confirm"] menu button {
  font-family: sans-serif;
  font-style: normal;
  width: 100%;
  height: 4rem;
  margin: 0 0 1rem;
  padding: 0 0.2rem;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: transparent;
  border: none;
  border-radius: 2rem;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 4rem;
  color: var(--text-color, #333);
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  outline: none;
}

/* Recommend */
form[role="dialog"][data-type="confirm"] menu button.recommend {
  background: var(--accent-color, #0061e0) linear-gradient(to bottom, transparent, rgba(0,0,0,0.125));
  color: var(--accent-text-color, rgba(255,255,255,0.75));
}

form[role="dialog"][data-type="confirm"] menu button.recommend:hover {
  background: var(--accent-color, #0061e0) linear-gradient(to bottom, rgba(255,255,255,0.125), transparent);
}

form[role="dialog"][data-type="confirm"] menu button.recommend:active {
  background: var(--accent-color, #0061e0) linear-gradient(to bottom, rgba(255,255,255,0.125), rgba(255,255,255,0.25));
}

[data-accent-scheme="light"] form[role="dialog"][data-type="confirm"] menu button.recommend:hover {
  background: var(--accent-color, #0061e0) linear-gradient(to bottom, rgba(0,0,0,0.125), transparent);
}

[data-accent-scheme="light"] form[role="dialog"][data-type="confirm"] menu button.recommend:active {
  background: var(--accent-color, #0061e0) linear-gradient(to bottom, rgba(0,0,0,0.125), rgba(0,0,0,0.25));
}

/* Danger */
form[role="dialog"][data-type="confirm"] menu button.danger {
  background: linear-gradient(to bottom, #d01050, #c00040);
  color: rgba(255,255,255,0.75);
}

form[role="dialog"][data-type="confirm"] menu button.danger:hover {
  background: linear-gradient(to bottom, #e02060, #d01050);
}

form[role="dialog"][data-type="confirm"] menu button.danger:active {
  background: linear-gradient(to bottom, #e02060, #f03070);
}

/* Hovered */
form[role="dialog"][data-type="confirm"] menu button:hover {
  background: var(--translucent, rgba(0,0,0,0.05));
}

/* Focused */
form[role="dialog"][data-type="confirm"] menu button:focus-visible {
  outline: var(--focus-outline);
}

/* Pressed */
form[role="dialog"][data-type="confirm"] menu button:active {
  background: var(--translucent-plus, rgba(0,0,0,0.1));
}

/* Disabled */
form[role="dialog"][data-type="confirm"] > menu > button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

button[disabled]::-moz-selection {
  -moz-user-select: none;
}

form[role="dialog"][data-type="confirm"] menu button {
  margin: 0;
  margin-inline-end: 1rem;
}

form[role="dialog"][data-type="confirm"] menu button:last-child {
  margin-inline-end: 0;
}

/*
** Specific component code
**
** 1. Text in confirm dialog should not be selectable.
 */
form[role="dialog"][data-type="confirm"] p:nth-child(2) {
  margin: 1rem 0 0;
  overflow: hidden;
}

form[role="dialog"][data-type="confirm"] p {
  word-wrap: break-word;
  margin: 0;
  padding: 1rem 1.5rem;
  border-top: 0.1rem solid #e7e9ec;
  line-height: 2.5rem;
  -moz-user-select: none; /* 1 */
}

form[role="dialog"][data-type="confirm"] p > span {
  font-size: 1.5rem;
  display: block;
  line-height: 1.7rem;
  color: rgba(255,255,255,0.6);
}

form[role="dialog"][data-type="confirm"] p img {
  margin-inline-end: 2rem;
}
html[dir="ltr"] form[role="dialog"][data-type="confirm"] p img { float: left; }
html[dir="rtl"] form[role="dialog"][data-type="confirm"] p img { float: right; }

form[role="dialog"][data-type="confirm"] p strong {
  display: block;
  margin-top: 0.2rem;
  font-weight: bold;
}

form[role="dialog"][data-type="confirm"] p small {
  font-size: 1.4rem;
  font-weight: normal;
  color: #858789;
  display: block;
}

form[role="dialog"][data-type="confirm"] dl {
  border-top: 0.1rem solid #e7e9ec;
  margin: 1rem 0 0;
  overflow: hidden;
  padding-top: 1rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

form[role="dialog"][data-type="confirm"] dl > dt {
  clear: both;
  width: 7rem;
  padding-inline-start: 1.5rem;
  font-weight: 500;
  text-align: left;
}
html[dir="ltr"] form[role="dialog"][data-type="confirm"] dl > dt { float: left; }
html[dir="rtl"] form[role="dialog"][data-type="confirm"] dl > dt { float: right; text-align: right; }

form[role="dialog"][data-type="confirm"] dl > dd {
  padding-inline-end: 1.5rem;
  font-weight: 300;
  text-overflow: ellipsis;
  vertical-align: top;
  overflow: hidden;
}

form[role="dialog"][data-type="confirm"] dl > dd > div {
  text-overflow: ellipsis;
  overflow: hidden;
}

form[role="dialog"][data-type="confirm"] figure {
  margin: 1.5rem;
  display: flex;
  align-items: center;
}

form[role="dialog"][data-type="confirm"] figure img {
  margin-inline-end: 1.5rem;
  flex-shrink: 0;
  border-radius: 50%;
}

form[role="dialog"][data-type="confirm"] figure figcaption {
  font-size: 2.1rem;
  font-weight: bold;
}

form[role="dialog"][data-type="confirm"] ul {
  margin: 0;
  padding: 2rem 1.5rem;
  border-top: 0.1rem solid #e7e9ec;
  list-style: none;
  font-size: 1.6rem;
  font-weight: normal;
}

form[role="dialog"][data-type="confirm"] ul li {
  word-wrap: break-word;
  line-height: 2rem;
  padding-bottom: 1.5rem;
}

form[role="dialog"][data-type="confirm"] ul li:last-child {
  padding-bottom: 0;
}

form[role="dialog"][data-type="confirm"] ul li ul {
  border: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 600px) and (min-height: 400px) {
  /* Main dialog setup */
  form[role="dialog"][data-type="confirm"] {
    top: 50%;
    left: calc(50% - 200px);
    right: calc(50% - 200px);
    bottom: unset;
    transform: translateY(-50%);
    max-height: calc(100% - 16rem);
  }

  form[role="dialog"][data-type="confirm"] > section {
    padding: 0 1.5rem;
    max-height: calc(100vh - 15.9rem);
  }

  form[role="dialog"][data-type="confirm"][data-category] section h1 {
    -moz-padding-start: 4.5rem;
    background: transparent no-repeat left 1rem center / 2.4rem;
  }

  form[role="dialog"][data-type="confirm"][data-category="error"] section h1 {
    background-image: url(confirm/images/icons/error.png);
  }

  form[role="dialog"][data-type="confirm"][data-category="exclamation"] section h1 {
    background-image: url(confirm/images/icons/exclamation.png);
  }

  form[role="dialog"][data-type="confirm"][data-category="info"] section h1 {
    background-image: url(confirm/images/icons/info.png);
  }
}
