@font-face {
  font-family: 'Jali Arabic';
  src: url(/fonts/Jali_Arabic_Regular.ttf);
}

@font-face {
  font-family: 'Jali Arabic';
  font-weight: bold;
  src: url(/fonts/Jali_Arabic_Bold.ttf);
}

:root {

  /** Accent Color
   ---------------------------------------------------------*/

  --accent-color: #0061e0;
  --accent-text-color: rgba(255,255,255,0.75);
  --focus-outline: 0.2rem solid var(--accent-color);

  /** Statusbar Filter
   ---------------------------------------------------------*/

  --statusbar-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='invert'><feColorMatrix in='SourceGraphic' color-interpolation-filters='sRGB' type='matrix' values='1 -1 0.3019 0 0 0 0.3019 0 0 0 0 0 0.3019 0 0 0 0 0 1 0'/></filter></svg>#invert");

  /** Grey Colors
   ---------------------------------------------------------*/

  --color-alpha: #333333;
  --color-beta: #ffffff;
  --color-gamma: #4d4d4d;
  --color-delta: #5f5f5f;
  --color-epsilon: #858789;
  --color-zeta: #a6a8ab;
  --color-eta: #c7c9cc;
  --color-theta: #e7e9ec;
  --color-iota: #f4f6f8;

  /** Brand Colors
   ---------------------------------------------------------*/

  --color-darkblue: #0061e0;
  --color-blue: #00a0e8;
  --color-turquoise: #00ddff;
  --color-darkorange: #a04030;
  --color-orange: #ff6040;
  --color-yellow: #ffc000;
  --color-violet: #d15ca8;

  --color-warning: var(--color-yellow);
  --color-destructive: #c00040;
  --color-preffered: #40a060;

  /** Background
   ---------------------------------------------------------*/

  --background: #e7e9ec;
  --background-plus: #fff;
  --background-minus: #a6a8ab;

  /** Borders
   ---------------------------------------------------------*/

  --border-color: var(--color-theta);

  /** Text Color
   ---------------------------------------------------------*/

  --text-color: #333;
  --text-color-minus: #fff;
  --label-color: #333;

  /** Button
   ---------------------------------------------------------*/

  --button-background: linear-gradient(to bottom, #fff, #f4f4f4);
  --button-background-plus: linear-gradient(to bottom, #d8dadd, #ccced2);
  --button-background-minus: linear-gradient(to bottom, #bcbec2, #c8cacd);
  --button-background-list: linear-gradient(to bottom, #e7e9ec, #dbddf0);

  /** Links
   ---------------------------------------------------------*/

  --link-color: var(--accent-color);

  /** Inputs
   ---------------------------------------------------------*/

  --input-background: #f4f4f4;
  --input-color: #333;
  --input-clear-background: #909ca7;

  /** Buttons
   ---------------------------------------------------------*/

  --button-box-shadow: none;
  --button-box-shadow-active: var(--button-box-shadow);

  /** Header
   ---------------------------------------------------------*/

  --header-background: var(--background);
  --header-color: var(--text-color);
  --header-icon-color: var(--text-color);
  --header-button-color: var(--text-color);
  --header-disabled-button-color: #858789;
  --header-action-button-color: var(--text-color);

  /** Transitions
   ---------------------------------------------------------*/

  --transition-duration: 0.3s;

  /** Palettes
   ---------------------------------------------------------*/

  --background-alpha: #b0b2b5;
  --background-beta: #ffffff;
  --background-gamma: #b9bbbe;
  --background-delta: #c0c2c5;
  --background-epsilon: #c7c9cc;
  --background-zeta: #d0d2d5;
  --background-eta: #d8dadd;
  --background-theta: #e0e2e5;
  --background-iota: #e7e9ec;

  --translucent: rgba(0,0,0,0.05);
  --translucent-plus: rgba(0,0,0,0.1);
  --translucent-minus: rgba(0,0,0,0.2);

  /* The same as the effect people watch on YouTube */
  --neumorphic-background: linear-gradient(to bottom, #c4c6c9, #fff);
  --neumorphic-shadow:
    1rem 1rem 1.5rem #c4c6c9,
    -1rem -1rem 1.5rem #fff;
  --neumorphic-shadow-inner:
    inset 1rem 1rem 1.5rem #c4c6c9,
    inset -1rem -1rem 1.5rem #fff;

  /* Buttons like the ones in the FM Radio app */
  --neumorphic-button-background: linear-gradient(to bottom, #d0d2d5, #fff);
  --neumorphic-button-shadow:
    inset 0.3rem 0.3rem 0.1rem #fff,
    inset -0.3rem 0.3rem 0.1rem #e0e2e5,
    inset 0.3rem -0.3rem 0.1rem #e0e2e5,
    inset -0.3rem -0.3rem 0.1rem #d0d2d5;

  --backdrop-color: rgba(231, 233, 236, 0.5);
}

[data-theme="dark"] {

  /** Accent Color
   ---------------------------------------------------------*/

  --accent-color: #80c2ff;
  --accent-text-color: rgba(0,0,0,0.75);
  --focus-outline: 0.2rem solid var(--accent-color);

  /** Statusbar Filter
   ---------------------------------------------------------*/

  --statusbar-filter: none;

  /** Grey Colors
   ---------------------------------------------------------*/

  --color-alpha: #333333;
  --color-beta: #ffffff;
  --color-gamma: #4d4d4d;
  --color-delta: #5f5f5f;
  --color-epsilon: #858789;
  --color-zeta: #a6a8ab;
  --color-eta: #c7c9cc;
  --color-theta: #e7e9ec;
  --color-iota: #f4f6f8;

  /** Brand Colors
   ---------------------------------------------------------*/

  --color-darkblue: #0061e0;
  --color-blue: #00a0e8;
  --color-turquoise: #00ddff;
  --color-darkorange: #a04030;
  --color-orange: #ff6040;
  --color-yellow: #ffc000;
  --color-violet: #d15ca8;

  --color-warning: var(--color-yellow);
  --color-destructive: #c00040;
  --color-preffered: #40a060;

  /** Background
   ---------------------------------------------------------*/

  --background: #101214;
  --background-plus: #212325;
  --background-minus: #66686a;

  /** Borders
   ---------------------------------------------------------*/

  --border-color: var(--color-theta);

  /** Text Color
   ---------------------------------------------------------*/

   --text-color: #fff;
   --text-color-minus: #333;
   --label-color: #fff;

  /** Button
   ---------------------------------------------------------*/

  --button-background: linear-gradient(to bottom, #303234, #2c2e30);
  --button-background-plus: linear-gradient(to bottom, #383a3c, #343638);
  --button-background-minus: linear-gradient(to bottom, #3c3e40, #404244);
  --button-background-list: linear-gradient(to bottom, #181a1c, #101214);

  /** Links
   ---------------------------------------------------------*/

  --link-color: var(--accent-color);

  /** Inputs
   ---------------------------------------------------------*/

  --input-background: #1c1e20;
  --input-color: #fff;
  --input-clear-background: #7c7b82;

  /** Buttons
   ---------------------------------------------------------*/

  --button-box-shadow: none;
  --button-box-shadow-active: var(--button-box-shadow);

  /** Header
   ---------------------------------------------------------*/

  --header-background: var(--background);
  --header-color: var(--text-color);
  --header-icon-color: var(--text-color);
  --header-button-color: var(--text-color);
  --header-disabled-button-color: #858789;
  --header-action-button-color: var(--text-color);

  /** Transitions
   ---------------------------------------------------------*/

  --transition-duration: 0.3s;

  /** Palettes
   ---------------------------------------------------------*/

  --background-alpha: #000204;
  --background-beta: #303234;
  --background-gamma: #040608;
  --background-delta: #080a0c;
  --background-epsilon: #0c0e10;
  --background-zeta: #101214;
  --background-eta: #181a1c;
  --background-theta: #202224;
  --background-iota: #282a2c;

  --translucent: rgba(255,255,255,0.05);
  --translucent-plus: rgba(255,255,255,0.15);
  --translucent-minus: rgba(255,255,255,0.25);

  /* The same as the effect people watch on YouTube */
  --neumorphic-background: linear-gradient(to bottom, #1c1e1f, #26282b);
  --neumorphic-shadow:
    1rem 1rem 1.5rem #1c1e1f,
    -1rem -1rem 1.5rem #26282b;
  --neumorphic-shadow-inner:
    inset 1rem 1rem 1.5rem #1c1e1f,
    inset -1rem -1rem 1.5rem #26282b;

  /* Buttons like the ones in the FM Radio app */
  --neumorphic-button-background: linear-gradient(to bottom, #212325, #303234);
  --neumorphic-button-shadow:
    inset 0.3rem 0.3rem 0.1rem #303234,
    inset -0.3rem 0.3rem 0.1rem #282a2c,
    inset 0.3rem -0.3rem 0.1rem #282a2c,
    inset -0.3rem -0.3rem 0.1rem #212325;

  --backdrop-color: rgba(16, 18, 20, 0.5);
}

*,
::placeholder {
  font-family: 'Jali Arabic', system-ui, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Jali Arabic', system-ui, sans-serif;
  background: var(--background);
  overflow-x: hidden;
  overflow-y: auto !important;
  display: block !important;
  color-scheme: light dark;
}

.dialog-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;

  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.1, 1);
  transform: scale(0.95);
  opacity: 0;
  visibility: hidden;
}

.dialog-container.visible {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

#banner {
  background: #003080 radial-gradient(circle at 50% 100%, transparent, rgba(255,255,255,0.25));
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100vw / 1.75);
  max-height: 60vh;
  overflow: hidden;
}

#banner > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  width: 100%;
  background: var(--background);
  min-height: 100vh;
}

.container > header {
  position: relative;
  width: 100%;
  height: 7rem;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 10;
}

.container > header.visible {
  background: var(--background);
  box-shadow: 0 0.3rem 0.6rem rgba(0,0,0,0.25);
}

.container > header > .vbox {
  display: inline-flex;
  flex-direction: column;
  margin: 1.5rem 0;
  height: 4rem;
  width: 100%;
  justify-content: center;
  flex: 1;
}

#avatar {
  position: relative;
  width: 5rem;
  height: 5rem;
  background: var(--background-plus);
  border-radius: 50%;
  flex: none;
  margin: 1rem 0;
  margin-inline-start: 5vw;
}

#avatar > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  border-radius: 50%;
}

#avatar > img.shadow {
  filter: blur(5px);
  transform: translateY(5px);
  opacity: 0.5;
  z-index: 0;
  pointer-events: none;
}

#username {
  height: 2rem;
  line-height: 2rem;
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: normal;
  outline: none;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  transition: all 0.2s ease;
}

#username:focus {
  background: var(--background-plus);
  margin: 0 1rem;
}

#badges {
  display: inline-flex;
  padding: 0 1rem;
  box-sizing: border-box;
}

#badges:empty {
  display: none;
}

#badges > .badge {
  background: none no-repeat center / cover;
  width: 1.6rem;
  height: 1.6rem;
  margin-inline-end: 0.4rem;
  position: relative;
}

[data-editmode="true"] #banner:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5) url(images/camera.svg) no-repeat center / 3rem;
  pointer-events: none;
  z-index: 5;
  transition: all 0.2s ease;
  opacity: 0;
}

@supports (backdrop-filter: saturate(180%) blur(20px)) {
  [data-editmode="true"] #banner:after {
    backdrop-filter: saturate(180%) blur(20px);
  }
}

[data-editmode="true"] #banner:hover:after {
  opacity: 1;
}

[data-editmode="true"] #avatar:hover > img.shadow {
  display: none;
}

[data-editmode="true"] #avatar:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75) url(images/camera.svg) no-repeat center / 3rem;
  pointer-events: none;
  z-index: 5;
  border-radius: 50%;
  transition: all 0.2s ease;
  opacity: 0;
}

[data-editmode="true"] #avatar:hover:after {
  opacity: 1;
}

[data-editmode="true"] #username {
  height: 3rem;
  line-height: 3rem;
}

[data-editmode="true"] #username:hover {
  background: var(--background-plus);
  margin: 0 1rem;
}

[data-editmode="true"] #username:after {
  content: 'edit';
  font-family: 'gaia-icons';
  font-size: 1.6rem;
  margin-inline-start: 0.5rem;
  color: #858585;
}

@media screen and (min-width: 768px) {
  .container > header:not(.visible) {
    height: 9rem;
  }

  .container > header:not(.visible) > .vbox {
    height: 7rem;
    margin: 0;
  }

  .container > header:not(.visible) #avatar {
    width: 10rem;
    height: 10rem;
    top: -5rem;
  }

  .container > header:not(.visible) #username {
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
  }

  .container > header:not(.visible) #badges > .badge {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    display: flex;
    padding: 0 64px 48px;
  }

  .content-col {
    width: 100%;
    flex: 1;
  }
}