#video-player {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 50;

  transition: all 0.3s ease;
  opacity: 0;
  transform: scale(1.125);
  visibility: hidden;
}

#video-player.visible {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

#video-player-close {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 4rem;
  height: 4rem;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #fff;
  outline-color: #fff;
  border-radius: 0;
  z-index: 10;
}

#video-player-close:before {
  font-size: 2.4rem;
}

#video-player-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1280px) {
  #video-player-close {
    left: calc(6.75% - 2rem);
    top: calc(6.75% - 2rem);
  }

  #video-player-content {
    left: 50%;
    transform: translateX(-50%);
    top: 12.5%;
    width: unset;
    height: 75%;
  }
}