.learn-more {
  width: 100%;
  min-height: 6rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  direction: ltr;
  color: var(--text-color);
  overflow: hidden;
}

.learn-more > img {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  position: relative;
  z-index: 1;

  transition: all 0.5s ease;
  opacity: 0;
  transform: translateX(128px);
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.25));
}

.learn-more.visible > img,
.learn-more:not([data-scroll-animate]) > img {
  transition: all 1s cubic-bezier(0.2, 0.9, 0.1, 1) 0.5s, opacity 0.5s ease;
  opacity: 1;
  transform: translateX(0);
}

.learn-more > p {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  -moz-padding-end: 1rem;
  padding-inline-end: 1rem;
  max-width: 400px;

  transition: all 0.5s ease;
  transform: translateX(-32px);
  mask-image: linear-gradient(to left, white calc(50% - 32px), transparent calc(50% + 32px));
  mask-size: calc(200% + 64px);
  -webkit-mask-image: linear-gradient(to left, white calc(50% - 32px), transparent calc(50% + 32px));
  -webkit-mask-size: calc(200% + 64px);
}

.learn-more:hover > p {
  text-decoration: underline;
}

.learn-more.visible > p,
.learn-more:not([data-scroll-animate]) > p {
  transition: all 1s ease 0.5s;
  transform: translateX(0);
  mask-position: calc(100%);
  -webkit-mask-position: calc(100%);
}

@media screen and (min-width: 1280px) {
  .learn-more {
    padding: 0 12.5vw;
    box-sizing: border-box;
    min-height: 8rem;
  }

  .learn-more > img {
    width: 6rem;
    height: 6rem;
    margin: 1rem 1.5rem;
  }

  .learn-more > p {
    font-size: 2.4rem;
  }
}