@font-face {
  font-family: 'Jali';
  src: url(/fonts/Jali_Arabic_Regular.ttf);
}

@font-face {
  font-family: 'Jali';
  src: url(/fonts/Jali_Arabic_Bold.ttf);
  font-weight: bold;
}

:root {
  --accent-color: #0061e0;
  --accent-text-color: rgba(255,255,255,0.75);
  --background: #e7e9ec;
  --background-plus: #fff;
  --header-background: rgba(231, 233, 236, 0.5);
  --text-color: #333;

  --translucent: rgba(0,0,0,0.05);
  --translucent-plus: rgba(0,0,0,0.1);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --accent-color: #80c2ff;
    --accent-text-color: rgba(0,0,0,0.75);
    --background: #101214;
    --background-plus: #212325;
    --header-background: rgba(16, 18, 20, 0.5);
    --text-color: #e7e7e7;

    --translucent: rgba(255,255,255,0.05);
    --translucent-plus: rgba(255,255,255,0.1);
  }
}

* {
  font-family: 'Jali', system-ui, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background: var(--background);
  font-family: system-ui;
}

#header {
  width: 100%;
  padding: 3rem 1.5rem;
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(to bottom, var(--header-background), transparent);
  z-index: 10;
}

#header.visible {
  position: sticky;
  top: 0;
  padding: 1rem 1.5rem;
  background: var(--background);
}

#header.visible > .brandlogo,
#header.visible > #websites {
  display: none;
}

#header.visible > #searchbox {
  margin: 1rem auto;
}

.background {
  background: url(https://source.unsplash.com/random) no-repeat center / cover;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.background:before {
  content: '';
  background: linear-gradient(to bottom, transparent, black);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.brandlogo {
  position: relative;
  z-index: 1;
  height: 5rem;
  margin: 1.5rem auto 1rem;
  display: block;
}

#searchbox {
  width: calc(100% - 3rem);
  max-width: 480px;
  background: var(--background-plus, #fff);
  height: 4rem;
  margin: 1rem auto;
  border-radius: 2rem;
  display: flex;
  -moz-padding-start: 5rem;
  padding-inline-start: 5rem;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}
html[dir="ltr"] #searchbox {
  background: var(--background-plus, #fff) url(images/search.svg) no-repeat left 1.5rem center / 2rem;
}
html[dir="rtl"] #searchbox {
  background: var(--background-plus, #fff) url(images/search.svg) no-repeat right 1.5rem center / 2rem;
}

#searchbox:focus-within {
  outline: solid 0.2rem var(--accent-color, #0061e0);
  z-index: 10;
}

#searchbox > input {
  border: none;
  padding: 0;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text-color, #333);
  background: transparent;
  outline: none;
}

#searchbox > button {
  padding: 0 1rem;
  box-sizing: border-box;
  min-width: 4rem;
  height: 4rem;
  line-height: 4rem;
  display: block;
  border: none;
  background: transparent;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-color, #333);
  position: relative;
  margin: 0;
  -moz-margin-start: -4rem;
  margin-inline-start: -4rem;
  transition: opacity 0.2s ease;
  opacity: 0;
}

#searchbox > button:hover {
  background: var(--translucent, rgba(0,0,0,0.05));
}

#searchbox > button:active {
  background: var(--translucent-plus, rgba(0,0,0,0.1));
}

#searchbox > button[data-icon]:before {
  font-size: 2rem;
  font-weight: normal;
}

#searchbox:focus-within > button {
  margin: 0;
  opacity: 1;
}

#widgets {
  width: 100%;
  max-width: 1024px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  font-size: 0;
  z-index: 1;
  margin: 0 auto;
}

#widgets .widget {
  width: calc((100% - 1rem) / 2);
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  transition: all 0.2s ease;
}

#widgets .widget:hover {
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.26);
  transform: translateY(-0.2rem);
}

#widgets .widget:first-child {
  width: 100%;
  aspect-ratio: 2 / 1;
}

#widgets .widget:nth-child(2n) {
  -moz-margin-end: 1rem;
  margin-inline-end: 1rem;
}

#widgets .widget > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #858585;
  object-fit: cover;
}

#widgets .widget > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgb(51,51,51));
  color: #fff;
  text-shadow: 0 0.3rem 0.6rem #333, 0 0.1rem 0 #333;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#widgets .widget .date {
  font-size: 1.2rem;
  font-weight: normal;
  color: #c0c0c0;
  margin: 0;
}

#widgets .widget .title {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: normal;
  margin: 0;
  max-height: 4.6rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

#widgets .widget:first-child .title {
  font-size: 2rem;
  line-height: 2.5rem;
  max-height: 7.5rem;
}

#widgets .widget .author {
  font-size: 1.2rem;
  font-weight: normal;
  color: #c0c0c0;
  margin: 0;
}

#widgets .widget .source {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: normal;
  margin: 0;
}

@media screen and (min-width: 480px) {
  #searchbox {
    width: calc(100% - 64px);
    margin: 24px auto;
  }

  #widgets {
    top: calc(4rem + 48px);
    height: calc(100% - 4rem - 48px);
    padding: 0 32px 24px;
  }

  #widgets .widget .date {
    font-size: 1.2rem;
  }

  #widgets .widget .title {
    font-size: 2rem;
    line-height: 2.5rem;
    max-height: 7.5rem;
  }

  #widgets .widget:first-child .title {
    font-size: 2.4rem;
    line-height: 2.9rem;
    max-height: 8.7rem;
  }

  #widgets .widget .author {
    font-size: 1.4rem;
  }

  #widgets .widget .source {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 768px) {
  #widgets .widget {
    width: calc((100% - 2rem) / 3);
    margin: 0 0 1rem;
  }

  #widgets .widget:nth-child(2n) {
    -moz-margin-end: 0;
    margin-inline-end: 0;
  }

  #widgets .widget:nth-child(3n-1),
  #widgets .widget:nth-child(3n) {
    -moz-margin-end: 1rem;
    margin-inline-end: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  #widgets .widget {
    width: calc((100% - 3rem) / 4);
    margin: 0 0 1rem;
  }

  #widgets .widget:nth-child(2n),
  #widgets .widget:nth-child(3n-1),
  #widgets .widget:nth-child(3n) {
    -moz-margin-end: 0;
    margin-inline-end: 0;
  }

  #widgets .widget:nth-child(4n-2),
  #widgets .widget:nth-child(4n-1),
  #widgets .widget:nth-child(4n) {
    -moz-margin-end: 1rem;
    margin-inline-end: 1rem;
  }
}