.ws--sub-plans {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem auto;
}

.ws--sub-plans > .card {
  margin: 1.5rem;
  width: calc((100% / 3) - 3rem);
  min-width: 290px;
  border-radius: 1.5rem;
  font-size: 1.6rem;
  padding: 0 1.5rem 1.5rem;
  box-sizing: border-box;
  position: relative;
  aspect-ratio: 1/1.6;
  background: var(--background-plus);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  transition: all 0.4s ease;
}

.ws--sub-plans > .card:hover {
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.25);
  transform: translateY(-0.2rem);
}

.ws--sub-plans > .card .ws--button {
  width: 100%;
  text-align: center;
}
