:root {
  --accent-color: #0061e0;
  --accent-color-text: rgba(255,255,255,0.75);
  --background: #e7e9ec;
  --background-plus: #fff;
  --events-background: #f4f4f4;
  --text-color: #333;
  --transparent: rgba(0,0,0,0.05);
  --transparent-plus: rgba(0,0,0,0.1);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --accent-color: #00ddff;
    --accent-color-text: rgba(0,0,0,0.75);
    --background: #101214;
    --background-plus: #212325;
    --events-background: #181a1c;
    --text-color: #e7e7e7;
    --transparent: rgba(255,255,255,0.05);
    --transparent-plus: rgba(255,255,255,0.1);
  }
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: sans-serif;
  background: var(--background);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0 1rem;
  box-sizing: border-box;
}

.header > h1 {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  color: var(--text-color);
  margin: 0;
  font-size: 2.4rem;
  font-weight: normal;
  padding: 0 1rem;
  box-sizing: border-box;
}

/* Views */
.views {
  position: relative;
  width: 100%;
  height: calc(100% - 5rem);
  flex: 1;
  display: flex;
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.views > li {
  height: 3rem;
  list-style: none;
}

.views > li > a {
  border-radius: 1.5rem;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  box-sizing: border-box;
  display: inline-block;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.6rem;
}

.views > li > a:hover {
  background: var(--transparent);
}

.views > li > a:active {
  background: var(--transparent-plus);
}

.views > li:target > a {
  background: var(--transparent);
  color: var(--accent-color);
  font-size: 1.6rem;
  font-weight: bold;
}

.views > li > .view {
  position: absolute;
  left: 0;
  top: 3rem;
  width: 100%;
  height: calc(100% - 3rem);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  transition: all 0.2s ease;
  transform: scale(0.9);
  opacity: 0;
  visibility: hidden;
}

.views > li:target > .view {
  transition: all 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

/* Quick Actions */
.actions {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.actions > button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: var(--background-plus);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.25);
  pointer-events: all;
  border: none;
  margin: 0 0 1rem;
  z-index: 10;
  color: var(--text-color);
}

.actions > button.recommend {
  background: var(--accent-color);
  color: var(--accent-color-text);
  box-shadow: 0 0.25rem 1rem -0.5rem var(--accent-color);
}

.actions > button:last-child {
  margin: 0;
}