#splashscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background-plus, #fff) url(../icons/articles.svg) no-repeat center / 10rem;
  z-index: 1024;

  transition: transform 0.5s cubic-bezier(0.2, 0.9, 0.1, 1) 1s, opacity 0.5s cubic-bezier(0.2, 0.9, 0.1, 1) 1s, visibility 0.5s 1s;
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

#splashscreen.hidden {
  opacity: 0;
  transform: scale(1.125);
  visibility: hidden;
}

#splashscreen > .progress {
  position: absolute;
  left: calc(100% / 3);
  bottom: 25%;
  width: calc(100% / 3);
  height: 1rem;
  border-radius: 0.5rem;
  background: var(--background, #e7e7e7);
  overflow: hidden;

  transition: opacity 0.2s ease;
  opacity: 1;
}

#splashscreen.hidden > .progress {
  opacity: 0;
}

#splashscreen > .progress:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 1rem;
  background: var(--text-color);
  border-radius: 0.5rem;
  animation: splashscreen-progress 1s cubic-bezier(1, 0, 0, 1) infinite;
}

#splashscreen.hidden > .progress:before {
  animation: none;
}

@keyframes splashscreen-progress {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

/* Offline screen */
#offline-message {
  position: fixed;
  left: 0;
  top: 5rem;
  width: 100%;
  height: calc(100% - 5rem);
  background: var(--background);
  z-index: 1;
  display: flex;
  align-items: center;
}

#offline-message:not(.visible) {
  display: none;
}

#offline-message .container {
  margin: 0 auto;
  max-width: calc(100% - 3rem);
}

#offline-message .container h1 {
  font-size: 2.4rem;
  font-weight: normal;
  color: var(--text-color);
  margin: 0 0 1rem;
}

#offline-message .container p {
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text-color);
  margin: 0 0 1rem;
}

#offline-message .container menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#offline-message .container menu button {
  margin: 0 0 1rem;
  padding: 0 3rem;
  box-sizing: border-box;
  border: none;
  border-radius: 2rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.6rem;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

#offline-message .container menu button.recommend {
  background: var(--accent-color);
  color: var(--accent-text-color);
}

@media screen and (min-width: 600px) {
  #offline-message .container menu button {
    width: unset;
    margin: 0;
    margin-inline-end: 1rem;
  }
}
