#webapp {
  position: absolute;
  left: 0;
  top: 5rem;
  background: var(--background);
  display: block;
  width: 100%;
  height: calc(100% - 5rem);
  perspective: 100vh;
  z-index: 5;
  overflow-y: auto;
  overflow-x: hidden;

  transition: all 0.3s ease-in-out;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}

#webapp.visible {
  transition: all 0.4s cubic-bezier(0.2, 0.9, 0.1, 1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

#webapp .banner-container {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100vw / 1.75);
  max-height: 60vh;
  overflow: hidden;
}

#webapp .banner-container:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--background), transparent);
  pointer-events: none;
}

#webapp-banner {
  background: linear-gradient(to bottom, #a6a6a6, #6a6a6a) no-repeat center / cover;
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: calc(100vw / 1.75);
}

#webapp .app-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
  z-index: 5;
  background: var(--background);
}

#webapp .app-header.visible {
  box-shadow: 0 0.9rem 0.6rem -0.6rem rgba(0,0,0,0.1);
  height: 6rem;
  background: var(--background-plus);
  flex-direction: row;
}

#webapp .app-header .app-header-info {
  display: flex;
  flex: 1;
  width: 100%;
}

#webapp .app-header .app-header-info img {
  width: 7rem;
  height: 7rem;
  background: transparent;
  border-radius: 25%;
  box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.3);
  -moz-margin-end: 1rem;
  margin-inline-end: 1rem;
  transition: all 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
}

#webapp .app-header.visible .app-header-info img {
  width: 4rem;
  height: 4rem;
}

#webapp .app-header .context {
  color: var(--text-color, #333);
  font-size: 1.6rem;
  flex: 1;
  width: 100%;
}

#webapp-name {
  font-size: 2rem;
}

.app-header.visible #webapp-name {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

#webapp-author {
  color: var(--accent-color);
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

#webapp-author.verified:after {
  content: 'tick-circle';
  font-family: 'gaia-icons';
  margin-inline-start: 0.5rem;
}

#webapp-author[href] > span {
  height: 1em;
  line-height: 1em;
  transition: box-shadow 0.2s ease;
}

#webapp-author[href]:hover > span {
  box-shadow: 0 0.2rem 0 var(--accent-color);
}

#webapp-average-rating {
  color: var(--text-color);
  font-weight: bold;
}

#webapp-categories {
  display: flex;
  overflow: hidden;
  border-radius: 0.6rem;
}

.app-header.visible #webapp-categories {
  display: none;
}

#webapp-categories > span {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0;
  color: var(--text-color);
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 3rem;
  overflow: hidden;
  height: 3rem;
  background: var(--background-plus);
  border-radius: 1.5rem;
  -moz-margin-end: 0.4rem;
  margin-inline-end: 0.4rem;
  padding: 0 1rem;
  box-sizing: border-box;
  flex: none;
}

.ratings {
  display: flex;
}

.app-header.visible .ratings {
  display: none;
}

#webapp-star-ratings {
  display: flex;
  -moz-margin-end: 1rem;
  margin-inline-end: 1rem;
}

#webapp-star-ratings > .star {
  flex: none;
}

#webapp-star-ratings > .star:before {
  font-size: 2rem;
}

#webapp .app-header .options {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

#webapp .app-header.visible .options {
  display: none;
}

#webapp .app-header .options button {
  border: none;
  border-radius: 2rem;
  padding: 0 3rem;
  box-sizing: border-box;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text-color);
  width: calc(100% - 1rem);
  margin: 0 0.5rem 1rem;
}

#webapp .app-header .options button.recommend {
  color: var(--accent-text-color);
}

/* Content */
#webapp .container {
  position: relative;
  z-index: 5;
  background: var(--background);
}

#webapp .section {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: var(--background);
}

#webapp .section ul {
  width: calc(100% - 3rem);
  margin: 1rem auto;
  border-radius: 0.8rem;
  overflow: hidden;
  max-width: 1024px;
  background: var(--background-plus);
  padding: 0;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

#webapp .section ul.hidden {
  background: none;
  box-shadow: none;
}

#webapp .section ul li {
  width: calc(100% - 3rem);
  margin: 0 1.5rem;
  border-bottom: solid 0.1rem rgba(0,0,0,0.125);
  list-style: none;
  display: block;
  min-height: 4.8rem;
  padding: 1.1rem 1.5rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text-color);
}

#webapp .section ul li:last-child {
  border-bottom: none;
}

#webapp .section ul li > div a {
  display: inline-block;
  color: var(--accent-color);
  text-decoration: none;
  height: 1em;
  line-height: 1em;
  margin: 0.5rem 0;
  margin-inline-end: 1rem;
  transition: box-shadow 0.2s ease;
}

#webapp .section ul li > div a:hover {
  box-shadow: 0 0.2rem 0 var(--accent-color);
}

#webapp .section ul li > div a:active {
  opacity: 0.5;
}

#webapp .section ul li > div.list {
  display: flex;
  flex-direction: column;
}

#webapp .section ul li > div.list a {
  display: inline-block;
  margin: 0.5rem 0;
  width: max-content;
}

#webapp .section header {
  width: 100%;
  padding: 0 3rem;
  box-sizing: border-box;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--accent-color);
  margin: 1rem auto -1rem;
  max-width: 1054px;
  text-transform: uppercase;
}

#webapp-screenshots {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  width: calc(100% - 3rem);
  margin: 1rem auto -1.5rem;
  max-width: 1024px;
  padding: 0 0 1.5rem;
}

html[dir="ltr"] #webapp-screenshots.start,
html[dir="rtl"] #webapp-screenshots.end {
  mask-image: linear-gradient(to right, white 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, white 90%, transparent);
}

html[dir="ltr"] #webapp-screenshots.end,
html[dir="rtl"] #webapp-screenshots.start {
  mask-image: linear-gradient(to left, white 90%, transparent);
  -webkit-mask-image: linear-gradient(to left, white 90%, transparent);
}

#webapp-screenshots.center {
  mask-image: linear-gradient(to left, transparent, white 10%, white 90%, transparent);
  -webkit-mask-image: linear-gradient(to left, transparent, white 10%, white 90%, transparent);
}

#webapp-screenshots::-webkit-scrollbar {
  display: none;
}

#webapp-screenshots img {
  -moz-margin-end: 1rem;
  margin-inline-end: 1rem;
  border-radius: 0.8rem;
  height: 20rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  background: #fff;
}

#webapp-screenshots > img:last-child {
  margin: 0;
}

#webapp-description {
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text-color);
  padding: 1rem;
  border-top: solid 0.1rem rgba(0,0,0,0.125);
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.2rem;
  max-height: 19rem;
  background: linear-gradient(to bottom, var(--text-color) 50%, transparent);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#webapp-description.maximized {
  max-height: unset;
  background: unset;
  color: var(--text-color);
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

#webapp-description-expand {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  display: block;
  font-size: 1.6rem;
  color: var(--accent-color);
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

#webapp-description-expand:active {
  opacity: 0.5;
}

#webapp-description-expand:hover > span {
  text-decoration: underline;
}

#webapp-description-expand[data-icon]:before {
  margin-inline-start: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  transition: transform 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
}

#webapp-description-expand.active[data-icon]:before {
  transform: rotate(180deg);
}

#webapp-patch-notes {
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text-color);
  padding: 1rem;
  border-top: solid 0.1rem rgba(0,0,0,0.125);
}

.app-header-actions {
  display: inline-flex;
  flex-direction: column;
}

.app-header.visible .app-header-actions {
  flex-direction: row;
}

.app-header-actions > p {
  margin: 1.5rem 0 0.5rem;
  padding: 0 1rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #858585;
  line-height: 2.2rem;
}

.app-header.visible .app-header-actions > p {
  line-height: 4rem;
  margin: 0;
}

#webapp-age-rating {
  width: 100%;
  max-width: 320px;
  min-height: 5rem;
  margin: 1rem 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.app-header.visible #webapp-age-rating {
  display: none;
}

#webapp-age-rating > img {
  width: unset;
  height: 5rem;
  margin: 0;
  margin-inline-end: 1rem;
}

#webapp-age-rating > div {
  width: 100%;
  min-height: 5rem;
  line-height: 2.2rem;
  flex: 1;
  margin: 0;
  font-size: 1.6rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  #webapp .app-header {
    flex-direction: row;
  }

  #webapp .app-header .options {
    flex-direction: row;
    width: unset;
  }

  #webapp .app-header.visible .options {
    display: inline-flex;
  }

  #webapp .app-header .options button {
    width: unset;
    margin: 0;
    -moz-margin-start: 1rem;
    margin-inline-start: 1rem;
  }

  .app-header-actions > p {
    margin: 0 0 0.5rem;
  }
}

@media screen and (min-width: 1280px) {
  #webapp .container {
    width: 100%;
    padding: 1.5rem 64px;
    box-sizing: border-box;
    display: block;
    position: relative;
    z-index: 1;
  }

  #webapp .container.transitioning {
    transition: all 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
  }

  #webapp .section {
    display: flex;
  }

  #webapp .content-col:first-child {
    flex: 2.5;
    width: 100%;
  }

  #webapp .content-col:last-child {
    width: 100%;
    min-width: 32rem;
    flex: 1;
  }

  #webapp .app-header.visible {
    background: var(--background);
    border-top: solid 0.1rem rgba(0,0,0,0.125);
    border-bottom: solid 0.1rem var(--background-plus);
  }

  #webapp .app-header .app-header-info img {
    width: 10rem;
    height: 10rem;
  }
}