.webapps-group {
  position: relative;
  width: 100%;
  max-width: 1054px;
  border-top: solid 1rem rgba(0,0,0,0.125);
}

.webapps-group header {
  height: 4rem;
  width: 100%;
  display: flex;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.webapps-group header h1 {
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text-color);
  width: 100%;
  padding: 0 1.5rem;
  height: 4rem;
  line-height: 4rem;
  box-sizing: border-box;
  margin: 0;
  flex: 1;
}

.webapps-group header a {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--accent-color);
  padding: 0 1rem;
  height: 4rem;
  line-height: 4rem;
  box-sizing: border-box;
  margin: 0;
  text-transform: uppercase;
  display: inline-block;
  padding-inline-end: 4rem;
  position: relative;
}

.webapps-group header a:active {
  opacity: 0.5;
}

.webapps-group header a[data-icon]:before {
  position: absolute;
  top: 0;
  font-size: 1.6rem;
  font-weight: bold;
  margin-inline-end: 0.4rem;
  text-decoration: none;
  height: 4rem;
  line-height: 4rem;
  transition: transform 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
}
html[dir="ltr"] .webapps-group header a[data-icon]:before {
  right: 1rem;
}
html[dir="rtl"] .webapps-group header a[data-icon]:before {
  left: 1rem;
}

.webapps-group header a.active[data-icon]:before {
  transform: rotate(180deg);
}

.webapps-group:not(.expanded) .webapps > .webapp {
  display: none;
}

.webapps-group:not(.expanded) .webapps:not(.list) > .webapp:nth-child(1),
.webapps-group:not(.expanded) .webapps:not(.list) > .webapp:nth-child(2),
.webapps-group:not(.expanded) .webapps:not(.list) > .webapp:nth-child(3),
.webapps-group:not(.expanded) .webapps:not(.list) > .webapp:nth-child(4),
.webapps-group:not(.expanded) .webapps:not(.list) > .webapp:nth-child(5),
.webapps-group:not(.expanded) .webapps:not(.list) > .webapp:nth-child(6),
.webapps-group:not(.expanded) .webapps:not(.list) > .webapp:nth-child(7),
.webapps-group:not(.expanded) .webapps:not(.list) > .webapp:nth-child(8) {
  display: flex;
}

.webapps-group:not(.expanded) .webapps.list > .webapp:nth-child(1),
.webapps-group:not(.expanded) .webapps.list > .webapp:nth-child(2),
.webapps-group:not(.expanded) .webapps.list > .webapp:nth-child(3),
.webapps-group:not(.expanded) .webapps.list > .webapp:nth-child(4) {
  display: flex;
}

.webapps {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.webapp {
  width: calc(100% / 3);
  max-width: 12rem;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  position: relative;
}

.webapp:hover {
  background: var(--translucent);
  z-index: 1;
}

.webapp:active {
  background: var(--translucent-plus);
}

.webapp > .icon-holder {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.webapp > .icon-holder img {
  width: 100%;
  aspect-ratio: 1/1;
  margin: 0 auto;
  display: block;
  border-radius: 25%;
  background: #fff;
  box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.3);
}

.webapp > .context {
  padding: 0 1rem 1rem;
  width: 100%;
  box-sizing: border-box;
}

.webapp > .context .title {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
  color: var(--text-color);
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2.2rem;
  overflow: hidden;
}

.webapp:hover > .context .title.marquee {
  text-overflow: unset;
  overflow: hidden;
}

.webapp:hover > .context .title.marquee > span {
  position: relative;
  display: block;
  width: max-content;
}
html[dir="ltr"] .webapp:hover > .context .title.marquee > span {
  animation: webapp-title-marquee 3s linear;
}
html[dir="rtl"] .webapp:hover > .context .title.marquee > span {
  animation: webapp-title-marquee-rtl 3s linear;
}

@keyframes webapp-title-marquee {
  0% {
    transform: translateX(0);
  }
  95% {
    opacity: 1;
    transform: translateX(-100%);
  }
  95.01% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes webapp-title-marquee-rtl {
  0% {
    transform: translateX(0);
  }
  95% {
    opacity: 1;
    transform: translateX(100%);
  }
  95.01% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.webapp > .context .categories {
  display: flex;
  overflow: hidden;
  border-radius: 0.4rem;
}

.webapp > .context .categories > span {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
  color: var(--text-color);
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2.2rem;
  overflow: hidden;
  height: 2.2rem;
  background: var(--background-plus);
  border-radius: 0.4rem;
  -moz-margin-end: 0.4rem;
  margin-inline-end: 0.4rem;
  padding: 0 0.4rem;
  box-sizing: border-box;
  flex: none;
}

.webapp > .context .author {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
  color: var(--accent-color);
  text-decoration: none;
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2rem;
  overflow: hidden;
}

.webapp > .context .author[href]:hover {
  text-decoration: underline;
}

.webapp > .context .pricing,
.webapp > .context .rating {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2rem;
  overflow: hidden;
  opacity: 0.5;
}

.webapp > .context .pricing {
  margin: 1rem 0 0;
}

.webapp > .context .rating[data-icon]:before {
  font-size: 1.4rem;
  margin-inline-end: 0.5rem;
}

.webapp > nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding: 1rem;
  box-sizing: border-box;
  background: var(--background-plus);
  border-radius: 0 0 0.8rem 0.8rem;

  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.1, 1);
  transform: scale(0.9);
  opacity: 0;
  visibility: hidden;
}

.webapp:hover > nav {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.webapp > nav button {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.6rem;
  background: var(--button-normal);
  color: var(--text-color);
  border: none;
  border-radius: 1rem;
  font-family: 'IBM Plex Sans Arabic', 'Noto Sans', 'Noto Naskh Arabic', system-ui;
}

.webapp > nav button:hover {
  background: var(--button-hover);
}

.webapp > nav button:active {
  background: var(--button-active);
}

/* List */
.webapps.list .webapp {
  display: inline-flex;
  flex-direction: row;
  width: calc(50% - 1rem);
  min-width: 290px;
  max-width: 100vw;
  align-items: center;
}

.webapps.list .webapp .icon-holder {
  padding: 1rem;
  width: 8rem;
  height: 100%;
}

.webapps.list .webapp .context {
  padding: 1rem 0;
  padding-inline-end: 1rem;
}

/* Moderator */
.webapp .mod-remove {
  position: absolute;
  left: 0;
  top: 0;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border-radius: 2rem;
  background: #c00040;
  color: #fff;
  border: none;

  transition: all 0.2s ease;
  transform: scale(0.75);
  opacity: 0;
  visibility: hidden;
}

.webapp:hover .mod-remove {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.webapp .mod-remove[data-icon]:before {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .webapp .mod-remove {
    left: -2rem;
    top: -2rem;
  }

  .webapps-group {
    border-top: solid 0.1rem rgba(0,0,0,0.125);
  }

  .webapps {
    padding: 0 1.5rem 1.5rem;
    max-width: 1054px;
    box-sizing: border-box;
  }

  .webapp {
    width: 11.425rem;
    border-radius: 0.8rem;
    background: var(--background-plus) !important;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    border: none;
    margin: 0 0.5rem 1rem;
    transition: all 0.2s ease;
  }

  .webapp:hover {
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.25);
    transform: translateY(-0.2rem);
  }

  .webapp > .context .title {
    font-size: 1.6rem;
  }

  .webapp > .context .categories {
    font-size: 1.6rem;
  }

  .webapp > .context .categories > span {
    background: var(--background);
  }

  .webapp > .context .author {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .webapps-group {
    border-top: solid 0.1rem rgba(0,0,0,0.125);
  }

  .webapp {
    width: calc((100% - 6rem) / 6);
    max-width: unset;
  }

  .webapp .icon-holder {
    padding: 1.5rem;
  }

  .webapps.list .webapp .icon-holder {
    min-width: 8rem;
    width: 8rem;
  }
}