@font-face {
  font-family: 'Readex Pro';
  src: url(../fonts/Readex_Pro/ReadexPro-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url(../fonts/IBMPlexSansArabic-Regular.ttf);
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  font-weight: bold;
  src: url(../fonts/IBMPlexSansArabic-Bold.ttf);
}

:root {
  --accent-color: #c00040;
  --accent-color-text: rgba(255,255,255,0.75);
  --background: #e7e9ec;
  --background-plus: #fff;
  --background-minus: #d8dce0;
  --header-background: rgba(231, 233, 236, 0.5);
  --text-color: #333;

  --button-normal: #e7e9ec;
  --button-plus: #fff;
  --button-hover: #d8dadd;
  --button-active: #c8cacd;

  --translucent: rgba(0,0,0,0.05);
  --translucent-plus: rgba(0,0,0,0.1);

  --ripple-color: rgba(0, 0, 0, 0.5);

  color-scheme: light;
}

[data-theme="dark"] {
  --background: #101214;
  --background-plus: #212325;
  --background-minus: #181a1c;
  --header-background: rgba(16, 18, 20, 0.6);
  --text-color: #e7e7e7;

  --button-normal: #303234;
  --button-plus: var(--button-normal);
  --button-hover: #383a3c;
  --button-active: #404244;

  --translucent: rgba(255,255,255,0.05);
  --translucent-plus: rgba(255,255,255,0.1);

  --ripple-color: rgba(255, 255, 255, 0.5);

  color-scheme: dark;
}

:focus-visible {
  outline: dashed 0.1rem currentColor;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: var(--background-plus);
}

::-webkit-scrollbar-thumb {
  width: 16px;
  height: 16px;
  background: #858585;
  border: solid 4px transparent;
  background-clip: content-box;
  border-radius: 8px;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'IBM Plex Sans Arabic', 'Noto Sans', 'Noto Naskh Arabic', system-ui;
  background: var(--background);
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Readex Pro', 'IBM Plex Sans Arabic', 'Noto Sans', 'Noto Naskh Arabic', system-ui;
}

.transition,
.transition * {
  transition: all 0.5s ease !important;
}

.oui--header {
  position: fixed;
  top: 0;
  z-index: 10;
}

#sidebar {
  position: fixed;
  top: 5rem;
  width: 320px;
  padding: 0.5rem 1.5rem;
  box-sizing: border-box;
  margin: 0;
  height: calc(100% - 5rem);
  overflow-x: hidden;
  overflow-y: auto;
}

#sidebar > header {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--accent-color);
  text-transform: uppercase;
  padding: 0 1.5rem;
  box-sizing: border-box;
  height: 3rem;
  line-height: 3rem;
  margin: 1rem 0 0;
}

#sidebar > ul {
  margin: 0;
  padding: 0;
}

#sidebar > ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar > ul li a {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  border-radius: 0.8rem;
  display: block;
  padding: 0 1.5rem;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: normal;
  transition: box-shadow 0.2s ease;
}

#sidebar > ul li a:hover {
  background: var(--translucent);
}

#sidebar > ul li a:active {
  background: var(--translucent-plus);
}

#sidebar > ul li a[aria-selected="true"] {
  background: var(--background-plus);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  font-weight: bold;
}

#sidebar > ul li a[aria-selected="true"]:hover {
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.25);
}

#sidebar > ul li a[data-icon] {
  position: relative;
  -moz-padding-start: 4rem;
  padding-inline-start: 4rem;
}

#sidebar > ul li a[data-icon]:before {
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 2rem;
  margin: 0 1rem;
}
html[dir="ltr"] #sidebar > ul li a[data-icon]:before {
  left: 0;
}
html[dir="rtl"] #sidebar > ul li a[data-icon]:before {
  right: 0;
}

#sidebar > ul li a > em {
  position: absolute;
  top: 0.8rem;
  height: 2.4rem;
  line-height: 2.4rem;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  background: var(--accent-color);
  color: var(--accent-color-text);
  margin: 0 1rem;
  padding: 0 0.5rem;
  box-sizing: border-box;
  border-radius: 1.2rem;
}
html[dir="ltr"] #sidebar > ul li a > em {
  right: 0;
}
html[dir="rtl"] #sidebar > ul li a > em {
  left: 0;
}

.content {
  position: absolute;
  top: 5rem;
  margin: 0;
  padding: 0;
  width: calc(100% - 320px);
  min-height: calc(100% - 5rem);
  background: var(--background);
  display: none;
}
html[dir="ltr"] .content {
  right: 0;
}
html[dir="rtl"] .content {
  left: 0;
}

.content.visible {
  display: block;
}

.content:not(.loading-screen).visible {
  animation: content-show 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
}

@keyframes content-show {
  from {
    opacity: 0;
    transform: translateY(128px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content.loading-screen.visible {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content.loading-screen > svg {
  width: 6rem;
  height: 6rem;
}

#upload-button {
  background: var(--accent-color);
  color: var(--accent-color-text);
  min-width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 1.25rem;
  display: inline-flex;
  padding: 0 1.5rem;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: normal;
  align-items: center;
  margin: 0 0 1rem;
  transition: box-shadow 0.2s ease;
}

#upload-button:hover {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2), 0 0.2rem 0.3rem rgba(0,0,0,0.3);
}

#upload-button[data-icon]:before {
  font-size: 2rem;
  -moz-margin-end: 1rem;
  margin-inline-end: 1rem;
}

#back-button {
  display: none;
}

/* Headers */
#home-header {
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.1, 1);
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  z-index: 1;
  flex: 1;
  width: calc(100% - 14rem);
}

#app-header {
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.1, 1);
  transform: scale(0.75);
  visibility: hidden;
  opacity: 0;
  transform-origin: bottom;
}

#home-header,
#app-header {
  height: 5rem;
  position: absolute;
  top: 0;
  display: flex;
}
html[dir="ltr"] #home-header,
html[dir="ltr"] #app-header {
  left: 5rem;
}
html[dir="rtl"] #home-header,
html[dir="rtl"] #app-header {
  right: 5rem;
}

.app-header-shown #home-header {
  transform: translateY(-5rem);
  visibility: hidden;
  opacity: 0;
}

.app-header-shown #app-header {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

#app-header h1 {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .oui--header {
    position: fixed;
    top: 0;
    background: var(--background);
    z-index: 10;
  }

  #sidebar {
    position: fixed;
    width: 80%;
    height: calc(100vh - 5rem);
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.25), 0 0 0 calc(100vw + 100vh) rgba(0,0,0,0.5);
    background: var(--background);
    z-index: 8;

    transition: transform 0.3s cubic-bezier(0.2, 0.9, 0.1, 1), opacity 0.3s cubic-bezier(0.2, 0.9, 0.1, 1), visibility 0.3s;
    transform: scaleX(0.9);
    opacity: 0;
    visibility: hidden;
  }
  html[dir="ltr"] #sidebar {
    transform-origin: left;
  }
  html[dir="rtl"] #sidebar {
    transform-origin: right;
  }

  #sidebar.visible {
    transform: scaleX(1);
    opacity: 1;
    visibility: visible;
  }

  .content {
    width: 100%;
  }
}
