.addons-group {
  position: relative;
  width: 100%;
}

.addons-group header {
  height: 4rem;
  width: 100%;
  max-width: 1024px;
  display: flex;
  padding: 0 1.5rem;
  border-top: solid 0.1rem rgba(0,0,0,0.125);
}

.addons-group header h1 {
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text-color);
  width: 100%;
  padding: 0 1.5rem;
  height: 4rem;
  line-height: 4rem;
  box-sizing: border-box;
  margin: 0;
  flex: 1;
}

.addons-group header a {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--accent-color);
  padding: 0 1.5rem;
  height: 4rem;
  line-height: 4rem;
  box-sizing: border-box;
  margin: 0;
  text-transform: uppercase;
  display: inline-block;
  padding-inline-end: 4.8rem;
  position: relative;
}

.addons-group header a:active {
  opacity: 0.5;
}

.addons-group header a[data-icon]:before {
  position: absolute;
  top: 0;
  font-size: 1.6rem;
  font-weight: bold;
  margin-inline-end: 0.4rem;
  text-decoration: none;
  height: 4rem;
  line-height: 4rem;
}
html[dir="ltr"] .addons-group header a[data-icon]:before {
  right: 1.5rem;
}
html[dir="rtl"] .addons-group header a[data-icon]:before {
  left: 1.5rem;
}

.addons-group:not(.expanded) .addons > .addon {
  display: none;
}

.addons-group:not(.expanded) .addons:not(.list) > .addon:nth-child(1),
.addons-group:not(.expanded) .addons:not(.list) > .addon:nth-child(2),
.addons-group:not(.expanded) .addons:not(.list) > .addon:nth-child(3),
.addons-group:not(.expanded) .addons:not(.list) > .addon:nth-child(4),
.addons-group:not(.expanded) .addons:not(.list) > .addon:nth-child(5),
.addons-group:not(.expanded) .addons:not(.list) > .addon:nth-child(6),
.addons-group:not(.expanded) .addons:not(.list) > .addon:nth-child(7),
.addons-group:not(.expanded) .addons:not(.list) > .addon:nth-child(8) {
  display: flex;
}

.addons-group:not(.expanded) .addons.list > .addon:nth-child(1),
.addons-group:not(.expanded) .addons.list > .addon:nth-child(2),
.addons-group:not(.expanded) .addons.list > .addon:nth-child(3) {
  display: flex;
}

.addons {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.addon {
  width: calc(100% / 3);
  max-width: 12rem;
  margin: 0;
  text-decoration: none;
  border-bottom: solid 0.1rem rgba(0,0,0,0.125);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.addon:hover {
  background: var(--translucent);
}

.addon:active {
  background: var(--translucent-plus);
}

.addon > .icon-holder {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.addon > .icon-holder img {
  width: 100%;
  aspect-ratio: 1/1;
  margin: 0 auto;
  display: block;
}

.addon > .context {
  padding: 0 1rem 1rem;
  width: 100%;
  box-sizing: border-box;
}

.addon > .context .title {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
  color: var(--text-color);
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2.2rem;
  overflow: hidden;
}

.addon > .context .categories {
  display: flex;
  overflow: hidden;
  border-radius: 0.4rem;
}

.addon > .context .categories > span {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
  color: var(--text-color);
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2.2rem;
  overflow: hidden;
  height: 2.2rem;
  background: var(--background);
  border-radius: 0.4rem;
  -moz-margin-end: 0.4rem;
  margin-inline-end: 0.4rem;
  padding: 0 0.4rem;
  box-sizing: border-box;
  flex: none;
}

.addon > .context .author {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
  color: var(--accent-color);
  text-decoration: none;
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2.2rem;
  overflow: hidden;
}

.addon > .context .author[href]:hover {
  text-decoration: underline;
}

/* List */
.addons.list .addon {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  max-width: 100vw;
  height: 8rem;
  align-items: center;
}

.addons.list .addon .icon-holder {
  padding: 1rem;
  width: 8rem;
  height: 8rem;
}

.addons.list .addon .context {
  padding: 0;
  padding-inline-end: 1rem;
}

@media screen and (min-width: 768px) {
  .addons {
    padding: 0 1.5rem 1.5rem;
    max-width: 1024px;
  }

  .addon {
    width: 11.8rem;
    border-radius: 0.8rem;
    background: var(--background-plus) !important;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    border: none;
    margin: 0 0.5rem 1rem;
    transition: all 0.2s ease;
  }

  .addon:hover {
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.25);
    transform: translateY(-0.2rem);
  }

  .addon > .context .title {
    font-size: 1.6rem;
  }

  .addon > .context .categories {
    font-size: 1.6rem;
  }

  .addon > .context .author {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .addon {
    width: 11.8rem;
    max-width: unset;
  }

  .addon .icon-holder {
    padding: 1.5rem;
  }
}