.posters {
  width: 100%;
  height: calc(100vw / 1.75);
  background: #000;
}

@media screen and (orientation: landscape) {
  .posters {
    width: 100%;
    height: calc(100vh - 5rem);
  }
}

@media screen and (orientation: landscape) and (min-width: 1280px) {
  .posters {
    width: 90vw;
    height: calc(90vh - 5rem);
    margin: calc(5vh - (5rem / 2)) 5vw;
    border-radius: 1.5rem;
  }
}