#month-view {
  display: flex;
  flex-direction: column;
}

#month-view-grid {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  padding: 0.4rem;
  box-sizing: border-box;
}

#month-view-grid > ol {
  width: 100%;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

#month-view-grid > ol > li {
  width: calc(100% / 7);
  aspect-ratio: 1 / 1;
  color: var(--text-color);
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  font-size: 1.6rem;
  border-radius: 9999px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#month-view-grid > ol > li:hover {
  background: var(--transparent);
}

#month-view-grid > ol > li:active {
  background: var(--transparent-plus);
}

#month-view-grid > ol > li.past {
  color: #858585;
}

#month-view-grid > ol > li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: solid 0.1rem var(--accent-color);
  border-radius: 9999px;
  pointer-events: none;

  transition: all 0.3s ease;
  transform: scale(0.75);
  opacity: 0;
  visibility: hidden;
}

#month-view-grid > ol > li.today::before {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transition: all 0.3s cubic-bezier(0, 0, 0, 1.5);
}

#month-view-grid > ol > li > span {
  position: relative;
  z-index: 1;
}

#month-view-grid-select {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: var(--width);
  height: var(--height);
  line-height: var(--height);
  background: var(--accent-color);
  border-radius: 9999px;
  pointer-events: none;
  color: var(--accent-text-color);
  font-size: calc(var(--width) / 2);
  font-weight: bold;
  text-align: center;
  z-index: 10;

  transition: transform 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
  transform: translate(var(--x-pos), var(--y-pos));
}

#month-view-events {
  flex: 1;
  width: 100%;
  background: var(--events-background);
  border-radius: 1.5rem 1.5rem 0 0;
}

#month-view-events > header {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

#month-view-events > header:before {
  content: '';
  width: calc(100% / 3);
  height: 0.5rem;
  position: absolute;
  left: calc(100% / 3);
  top: 1rem;
  border-radius: 0.25rem;
  background: var(--background-plus);
}

#month-view-events-list {
  width: 100%;
  height: calc(100% - 4rem);
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

#month-view-events-list > li {
  width: 100%;
  height: 4.8rem;
  margin: 0;
  padding: 0 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#month-view-events-list > li:hover {
  background: var(--transparent);
  border: none;
}

#month-view-events-list > li:active {
  background: var(--transparent-plus);
}

#month-view-events-list > li:after {
  content: '';
  position: absolute;
  left: 1.5rem;
  top: 0;
  width: calc(100% - 3rem);
  height: 100%;
  border-bottom: solid 0.1rem rgba(0,0,0,0.125);
}

#month-view-events-list > li:last-child:after {
  border-bottom: none;
}

#month-view-events-list > li p {
  font-size: 1.4rem;
  opacity: 0.5;
  color: var(--text-color);
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#month-view-events-list > li p:first-child {
  font-size: 1.6rem;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  #month-view-main {
    flex-direction: row;
  }

  #month-view-grid {
    width: 100%;
    height: 100%;
    overflow: auto;
    flex: 1;
  }

  #month-view-grid > ol {
    flex: 1;
  }

  #month-view-grid > ol > li {
    width: unset;
    font-size: 2.4rem;
    flex: 1;
    aspect-ratio: unset;
  }

  #month-view-events {
    flex: unset;
    width: 320px;
    height: 100%;
    border-radius: 0;
    border-start-start-radius: 1.5rem;
  }
}