.dialog {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 100;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(.2, .9, .1, 1);
}

.dialog.visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s cubic-bezier(.2, .9, .1, 1.125);
}

.dialog > div {
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  width: calc(100% - 2rem);
  max-height: calc(100% - 5.5rem);
  color: #333;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  padding: 0 0 7.4rem;
  overflow-x: hidden;
  overflow-y: auto;

  transform: scale(0.95);
  transition: transform 0.3s cubic-bezier(.2, .9, .1, 1);
}

.dialog.visible > div {
  transform: scale(1.0);
  transition: transform 0.3s cubic-bezier(.2, .9, .1, 1.25);
}

.dialog h1 {
  height: 4rem;
  width: calc(100% - 3rem);
  margin: 0 1.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 4rem;
  border-bottom: solid 0.1rem rgba(0,0,0,0.125);
  box-sizing: border-box;
  padding: 0 1.5rem;
}

.dialog p {
  width: calc(100% - 3rem);
  margin: 0 1.5rem;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.2rem;
  border-bottom: solid 0.1rem rgba(0,0,0,0.125);
  box-sizing: border-box;
  padding: 1rem 1.5rem;
}

.dialog p:last-child {
  border-bottom: none;
}

.dialog input[type="text"] {
  width: calc(100% - 3rem);
  margin: 1rem 1.5rem;
  border: none;
  border-bottom: solid 0.2rem #858585;
  background: #e7e7e7;
  border-radius: 0.2rem;
  font-size: 1.6rem;
  color: #333;
  line-height: 4rem;
  height: 4rem;
  padding: 0 1.5rem;
  box-sizing: border-box;
  outline: none;
}

.dialog input[type="text"]:focus {
  border-bottom-color: #0061e0;
  box-shadow: inset 0 -0.1rem 0 #0061e0;
}

.dialog .profile-header {
  width: 100%;
  height: 8rem;
  display: flex;
  background: #f4f4f4;
  padding: 1.5rem;
  box-sizing: border-box;
}

.dialog .profile-header img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #858585;
}

.dialog .profile-header button {
  background: #e0e0e0;
  border-radius: 1rem;
  padding: 0 1rem;
  margin: 0.5rem 0;
  font-size: 1.6rem;
  border: none;
  color: #333;
  transition: all 0.15s ease;
}

.dialog .profile-header button:hover {
  background: #d0d0d0;
}

.dialog .profile-header button:active {
  background: #c0c0c0;
}

.dialog .profile-header .holder {
  height: 5rem;
  width: 100%;
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.dialog .profile-header .username {
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.6rem;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.dialog .profile-header .badges {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0 1rem;
  box-sizing: border-box;
}

.dialog .profile-header .badges > div {
  width: 2rem;
  height: 2rem;
  background: none no-repeat center / 2rem;
  transition: all 0.2s ease;
  margin: 0.5rem;
}

.dialog .profile-header .badges > .verified {
  background-image: url(images/badges/verified.svg);
}
.dialog .profile-header .badges > .moderator {
  background-image: url(images/badges/moderator.svg);
}
.dialog .profile-header .badges > .developer {
  background-image: url(images/badges/developer.svg);
}
.dialog .profile-header .badges > .supporter {
  background-image: url(images/badges/supporter.svg);
}

.dialog .group-creation {
  width: 100%;
  padding: 1.5rem 0;
}

.dialog .group-creation label {
  width: 100%;
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--text-color-primary);
  margin: 1rem;
}

.dialog .group-creation label span {
  margin: 0 0.5rem;
}

.dialog .group-creation label .image-container {
  width: 100%;
  height: 8rem;
  margin: 0.4rem 0 2rem;
}

.dialog .group-creation label .image-container > img {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  margin: 0 1.5rem;
  background: #858585;
}

.dialog menu {
  margin: 0.4rem;
  width: calc(100% - 0.8rem);
  background: #e7e7e7;
  height: 7rem;
  padding: 1.5rem 0.5rem 1.5rem 1.5rem;
  border-radius: 0.9rem;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.dialog menu button {
  height: 4rem;
  line-height: 4rem;
  background: transparent;
  border-radius: 2rem;
  border: none;
  padding: 0 2rem;
  margin: 0 1rem 0 0;
  font-size: 1.6rem;
  color: #333;
  transition: background-color 0.2s;
  flex: 1
}

.dialog menu button.recommend {
  background: #0061e0;
  color: #fff;
}

.dialog menu button.recommend:hover {
  background: #0051d0;
}

.dialog menu button.recommend:active {
  background: #0041c0;
}

.dialog menu button:hover {
  background-color: rgba(0,0,0,0.05);
  transition: none;
}

.dialog menu button:active {
  background-color: rgba(0,0,0,0.1);
  transition: none;
}

[data-theme="dark"] .dialog > div {
  background: #303030;
  color: #fff;
}

[data-theme="dark"] .dialog input[type="text"] {
  background: #282828;
  color: #fff;
  border-bottom-color: #656565;
}

[data-theme="dark"] .dialog input[type="text"]:focus {
  border-bottom-color: #00ddff;
  box-shadow: inset 0 -0.1rem 0 #00ddff;
}

[data-theme="dark"] .dialog .profile-header {
  background: #2c2c2c;
}

.dialog .profile-header button {
  background: #404040;
  color: #fff;
}

.dialog .profile-header button:hover {
  background: #202020;
}

.dialog .profile-header button:active {
  background: #101010;
}

[data-theme="dark"] .dialog menu {
  background: #383838;
}

[data-theme="dark"] .dialog menu button {
  color: #fff;
}

[data-theme="dark"] .dialog menu button.recommend {
  background: #00ddff;
  color: #000;
}

[data-theme="dark"] .dialog menu button.recommend:hover {
  background: #00cdef;
}

[data-theme="dark"] .dialog menu button.recommend:active {
  background: #00bddf;
}

[data-theme="dark"] .dialog menu button:hover {
  background-color: rgba(255,255,255,0.05);
}

[data-theme="dark"] .dialog menu button:active {
  background-color: rgba(0,0,0,0.15);
}

@media screen and (min-width: 600px) {
  .dialog {
    align-items: center;
  }

  .dialog > div {
    width: 600px;
  }
}
