.ac--articles {
  padding: 1rem 1.5rem;
  box-sizing: border-box;
}

.ac--articles .article {
  width: 100%;
  max-width: 768px;
  padding: 1rem;
  box-sizing: border-box;
  background: var(--background-plus);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  border-radius: 0.8rem;
  margin: 0 auto 1rem;
}

.ac--articles .article h1 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}

.ac--current-article {
  padding: 1rem;
  box-sizing: border-box;
  display: none;
  font-size: 160%;
}

.ac--current-article.visible {
  display: block;
  animation: article-show 0.3s cubic-bezier(0.2, 0.9, 0.1, 1);
}

@keyframes article-show {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.ac--current-article > .container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

#article-title {
  margin: 0;
  font-weight: normal;
}

.ac--current-article nav {
  width: 100%;
  height: 5rem;
  display: flex;
  border-radius: 1rem;
  margin: 1rem 1.5rem;
  padding: 0;
  background: var(--background-plus);
}

.ac--current-article nav ul {
  width: 100%;
  height: 5rem;
  display: flex;
  margin: 0;
  padding: 0;
}

.ac--current-article nav ul li {
  width: 100%;
  height: 5rem;
  flex: 1;
  list-style: none;
}

.ac--current-article nav ul li > a {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  font-size: 1.6rem;
  font-weight: normal;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ac--current-article nav ul li > a:hover {
  background: var(--translucent);
}

.ac--current-article nav ul li > a:active {
  background: var(--translucent-plus);
}

.ac--current-article nav ul li > a[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.ac--current-article nav ul li > a[data-icon]:before {
  font-size: 2rem;
  -moz-margin-end: 0.6rem;
  margin-inline-end: 0.6rem;
}

#like-button.enabled[data-icon]:before {
  content: 'liked';
}

#dislike-button.enabled[data-icon]:before {
  content: 'disliked';
}